@model FDI.Simple.ModelExrateItem
<link href="~/Areas/UtilitiesModule/Content/css/Utilities.css" rel="stylesheet" type="text/css"/>
<div class="main-list-news">
<h1 class="title-list-news"><span>@Resource.Other.Resource.ExchangeRate</span></h1>
    </div>
@if (Model.DateUpdated != null)
{
  <span class="giavang-title">@Resource.Other.Resource.ExchangeRateUpdate <strong>@Model.DateUpdated</strong> @Resource.Other.Resource.ContentPrice2</span>  
}
<table class="gridView" cellspacing="1">
    <thead>
        <tr>
            <th>@Resource.Other.Resource.CodeRate</th>
            <th>@Resource.Other.Resource.NameRate</th>
            <th>@Resource.Other.Resource.BuyCash</th>
            <th>@Resource.Other.Resource.BuyTransfer</th>
            <th>@Resource.Other.Resource.Sell</th>
        </tr>
    </thead>
    @{
        foreach (var item in Model.ListExrateItem)
        {
            <tr>
                <td><strong>@item.CurrencyCode</strong></td>
                <td>@item.CurrencyName</td>
                @if (item.Buy != "0")
                {
                    <td>@item.Buy</td>
                }
                else
                {
                    <td>-</td>
                }
                @if (item.Transfer != "0")
                {
                    <td>@item.Transfer</td>
                }
                else
                {
                    <td>-</td>
                }
                @if (item.Sell != "0")
                {
                    <td>@item.Sell</td>
                }
                else
                {
                    <td>-</td>
                }
            </tr>
        }
    }
</table>
<b class="right-nguon">@Resource.Other.Resource.SourceRate</b>
