@model FDI.Simple.ScheduleItem

@{

    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div class="modal-body">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gear"></i>Thông tin về ca làm việc
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <label>Tên ca làm việc</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>
                    </tr>
                  
                    <tr>
                        <td>
                            <label>Giờ làm việc</label>
                        </td>
	                    <td>
		                    @Model.HoursStart : @Model.MinuteStart
	                    </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <label>Giờ nghỉ</label>
                        </td>
	                    <td>
		                   @Model.HoursEnd : @Model.MinuteEnd
	                    </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Hiển thị</label>
                        </td>
                        <td>
                            @Grid.DisplayShow(Model.Name, Model.IsShow.HasValue && Model.IsShow.Value)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
</div>



