@model FDI.Simple.DNDocumentRoomItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#modalForm").validate({
            rules: {
                Name:
                    {
                        required: true

                    },
                DocumentLevelID:
                    {
                        required: true

                    }
            },
            messages: {
                Name:
                {
                    required: "Trường này là bắt buộc."
                },
                DocumentLevelID:
                    {
                        required: "Trường này là bắt buộc."
                    }
            },
            submitHandler: function () { //onSubmit
                PostAction("#modalForm");
            }
        });
    });
</script>
<form id="modalForm">
    <div class="modal-body">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action" />
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID" />
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-database"></i>Thông tin tầng khu
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Chọn tầng</label>
                            <div class="col-sm-10">
                                 <select name="DocumentLevelID" id="DocumentLevelID" class="form-control">
                                    <option value="">-- Chọn tầng --</option>
                                    @foreach (var item in ViewBag.DocumentLevelID)
                                    {
                                        <option value="@item.ID" @((item.ID == Model.DocumentLevelID) ? " selected" : string.Empty)>@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tên phòng</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="..." name="Name" id="Name" value="@Model.Name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sắp xếp</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control"name="Sort" id="Sort" value="@Model.Sort" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-success">Cập nhật</button>
        <button id="close" type="button" data-dismiss="modal" class="btn btn-sm btn-default">Đóng</button>
    </div>
</form>
