@using FDI.CORE
@model FDI.Simple.ModelContentVoteItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
    var stt = 1;
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <colgroup>
                    <col class="colgroup check" />
                    <col class="colgroup date" />
                    <col class="colgroup size" />
                    <col class="colgroup custommer" />
                    <col class="colgroup size" />
                    <col class="colgroup date" />
                    <col class="colgroup date" />
                    <col class="colgroup price" />
                    <col class="colgroup date" />
                </colgroup>
                <thead>
                    <tr>
                        <th>STT</th>                     
                        <th><a href="#Field=US_NVDG">NV đánh giá</a></th>
                        <th><a href="#Field=VoteName">Tiêu chí</a></th>
                        <th><a href="#Field=LevelName">Mức độ</a></th>
                        <th><a href="#Field=Value">Giá trị</a></th>
                        <th><a href="#Field=US_NVBDG">NV bị đánh giá</a></th>
                        <th><a href="#Field=Content">Nội dung</a></th>
                        <th><a href="#Field=DateEvaluation">Ngày đánh giá</a></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListItems != null)
                    {
                        foreach (var item in Model.ListItems)
                        {
                            <tr data-id="@item.ID" title="@item.ID">
                                <td>@(stt++)</td>
                                <td>@item.US_NVDG</td>
                                <td>@item.VoteName</td>
                                <td>@item.LevelName</td>
                                <td>@item.Value</td>
                                <td>@item.US_NVBDG</td>        
                                <td>@item.Content</td>                                
                                <td>@item.DateEvaluation.DecimalToString("dd/MM/yyyy")</td>                                
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
        var total = '@(Model.TotalValue)';
        $('.bottom-pager').append('<span>Tổng điểm: <i>' + total + '</i></span>');
    });
</script>
