@using FDI.CORE
@model FDI.Simple.DayOffItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
       
        $("#modalForm").validate({
            rules: {
                Name: { required: true },
                Quantity: { required: true },
                DateOff: { required: true },
            },
            messages: {
                Name: "Mời bạn nhập tên ngày nghỉ.",
                Quantity: "Mời bạn chọn ngày bắt đầu nghỉ",
                DateOff: "Mời bạn nhập số ngày nghỉ.",
            },
            submitHandler: function () { //onSubmit
                PostAction("#modalForm");
            }
        });

    });
</script>

<form id="modalForm">
    <div class="modal-body">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID"/>
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gear"></i>Thông tin về ngày nghỉ
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tên ngày nghỉ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="..." name="Name" id="Name" value="@Model.Name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Chọn ngày</label>
                            <div class="col-sm-10">
                                <input type="date" name="DateOff" id="DateOff" value="@Model.Date.DecimalToString("yyyy-MM-dd")" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Số ngày nghỉ</label>
                            <div class="col-sm-10">
                                <input type="text" name="Quantity" id="Quantity" value="@Model.Quantity" class="form-control "/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox col-md-6">
                                    <label>
                                        @Html.CheckBox("IsShow") Hiện thị
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-primary">@ViewBag.ActionText</button>
        <button id="btnReset" type="reset" name="reset" class="btn btn-sm btn-primary">Nhập lại</button>
        <button id="close" type="button" class="btn btn-sm btn-primary">Đóng lại</button>
    </div>
</form>
