@using FDI.CORE
@model List<FDI.Simple.StorageWarehouse.TotalProductToDayConfirmItem>
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <thead>
                    <tr>
                        <th class="text-center"><a href="#Field=Code">NCC</a></th>
                        <th class="text-center"><a href="#Field=Code">Số ĐT</a></th>
                        <th class="text-center"><a href="#Field=Code">Địa chỉ</a></th>
                        <th class="text-center"><a href="#Field=Code">Sản phẩm</a></th>
                        <th class="text-center"><a href="#Field=Code">Số lượng ĐH(A)</a></th>
                        <th class="text-center"><a href="#Field=Code">Số đã nhập(B)</a></th>
                        <th class="text-center"><a href="#Field=Code">C=A-B</a></th>
                        <th class="text-center"><a href="#Field=Code">Số lượng còn</a></th>

                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var rowspan = item.Details.Count() == 1 || item.Details.Count() == 0 ? 2 : item.Details.Count() + 1;

                        <tr title="@item.SupplierName">
                            <td rowspan="@rowspan" class="text-center">@item.SupplierName</td>
                            <td rowspan="@rowspan" class="text-center">@item.SupplierPhone</td>
                            <td rowspan="@rowspan" class="text-center">@(item.SupplierAddress)</td>
                        </tr>
                        foreach (var supplier in item.Details)
                        {
                            <tr>
                                <td>@supplier.ProductName </td>
                                <td>@supplier.Quantity </td>
                                <td>@supplier.QuantityReady </td>
                                <td>@(supplier.Quantity- supplier.QuantityReady) </td>
                                <td>@supplier.QuantityActive </td>
                                <td>
                                    <a data-category="@supplier.ProductId" data-product="@item.SupplierId" data-quantity="@(supplier.Quantity-supplier.QuantityReady)" class="btn btn-sm btn-default btn_Inport"><i class="fa fa-arrow-right" style="color: #04A827;"></i></a>
                                </td>
                            </tr>
                        }
                        if (item.Details.Count == 0)
                        {
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
       // registerGridView('#mygird');

        $(".btn_Inport").click(function () {
            var categoryId = $(this).data("category");
            var productId = $(this).data("product");
            var quantity = $(this).data("quantity");
            FdiDialog('@Url.Action("AddForm","OrderCar")' + '?itemId=1&supplierId=' + productId + '&categoryId=' + categoryId + '&quantity=' + quantity +'&todayCode='+@Request.QueryString["todayCode"], "Đặt xe");
        });

    });
</script>

