@using FDI.CORE
@model FDI.Simple.ModelCashAdvanceItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
    var stt = 1;
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <colgroup>
                    <col class="colgroup check" />
                    <col class="colgroup color" />
                    <col class="colgroup date" />
                    <col class="colgroup date" />
                    <col class="colgroup date" />
                    <col />
                    <col  />
                    <col />
                    <col />
                    <col/>
                    <col/>
                    <col class="colgroup action-3" />
                </colgroup>
                <thead>
                <tr>
                    <th class="act_roles">
                        <input value="" type="checkbox" class="checkAll"/>
                    </th>
                    <th>STT</th>
                    <th><a href="#Field=Code">Mã phiếu</a></th>
                    <th><a href="#Field=DateCreated">Ngày tạo</a></th>
                    <th><a href="#Field=DateReturn">Ngày trả</a></th>
                    <th><a href="#Field=UserCashier">Người nhận</a></th>
                    <th><a href="#Field=UserName">Người trả</a></th>                    
                    <th  class="text-right"><a href="#Field=Price">Số tiền trả</a></th>                    
                    <th><a href="#Field=IsActive">Trạng thái</a></th>
                    <th><a href="#Field=Note">Ghi chú</a></th>
                    <th><a href="#Field=Note">Ngày</a></th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                @if (Model.ListItem != null)
                {
                    foreach (var item in Model.ListItem)
                    {
                        <tr data-id="@item.ID" title="@item.Name">
                            <td class="act_roles">
                                <input type="checkbox" value="@item.ID" class="check">
                            </td>
                            <td>@(stt++)</td>
                            <td>@item.Code</td>
                            <td>@item.DateCreated.DecimalToString("dd/MM/yyyy")</td>
                            <td>@item.DateReturn.DecimalToString("dd/MM/yyyy")</td>
                            <td>@item.FullNameCashier (@item.UserNameCashier)</td>
                            <td>@item.FullNameReceipt (@item.UserName)</td>
                            <td class="text-right">@string.Format("{0:0,0}", item.Price)</td>
                            <td class="text-center">
                                @if (item.IsDelete == true)
                                {
                                    <label class="label label-danger">Đã xóa</label>

                                }
                            </td>
                            <td>@item.Note</td>
                            <td>@item.DateActive.DecimalToString("dd/MM/yyyy")</td>
                            <td class="text-right">
                                @Grid.ActionView(item.ID, item.Code)
                                @if (Model.IsAdmin)
                                {
                                    @Grid.ActionEdit(item.ID, item.Code)
                                    @Grid.ActionDelete(item.ID, item.Code, item.IsDelete)
                                }
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
        var total = '@Model.TotalPrice';
        var TotalActive = '@Model.TotalActive';
        var TotalDelete = '@Model.TotalDelete';
        var totalNotActive = '@(Model.TotalPrice - Model.TotalActive- Model.TotalDelete)';
        $('.bottom-pager').append('<span class="footer-control-view">Tổng : <i class="maskPrice">' + total + ' - </i></span>');
        $('.bottom-pager').append('<span class="footer-control-view">Đã duyệt: <i class="maskPrice">' + TotalActive + ' - </i></span>');
        $('.bottom-pager').append('<span class="footer-control-view">Chờ duyệt: <i class="maskPrice">' + totalNotActive + ' - </i></span>');
        $('.bottom-pager').append('<span class="footer-control-view">Đã xóa: <i class="maskPrice">' + TotalDelete + '</i></span>');
        
    });
</script>