@{
    Layout = "~/Views/Shared/_Meta.cshtml";
}
<script>
    $(document).ready(function () {
        callSelect2("Market_ID", "100%");
        callSelect2("Area_ID", "100%");
       @* $("#Uploads").click(function () {
            var urlFormAdd = '@Url.Action("AjaxFormImport", "District")';
            $.post(urlFormAdd, function (data) {
                $("#dialog-form-4 .modal-title").html("import danh sách khu vực");
                $("#dialog-form-4 #dialog-form-ajax").html(data);
                $('#dialog-form-4').modal('show');
            });
            return false;
        });*@
    });
</script>
<div class="header-control">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li><i class="fa fa-home"></i>PMBH<i class="fa fa-circle"></i></li>
            <li class="active"><a href="#">Chợ</a></li>
        </ul>
    </div>
    <h3 class="page-title"></h3>
    <div class="group-form-control">
        <form id="gridSearch" class="form-inline" role="form">
            <div class="btn-group">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" title="Filter" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#showAll" data-event="showAll" data-grid="#mygird"><i class="icon-lock-open"></i>Hiển thị</a></li>
                    <li><a href="#hideAll" data-event="hideAll" data-grid="#mygird"><i class="icon-lock"></i>Ẩn</a></li>
                    <li class="divider"></li>
                    <li><a href="#deleteAll" data-event="deleteAll" data-grid="#mygird"><i class="icon-trash"></i><span class="text">Xóa</span></a></li>
                </ul>
            </div>
            <div class="form-group">
                <label class="sr-only" for="Keyword">Từ khóa tìm kiếm</label>
                <input type="text" class="form-control input-sm" id="Keyword" name="Keyword" placeholder="Từ khóa tìm kiếm">
            </div>
            <div class="form-group">
                <select name="SearchIn" id="SearchIn" class="form-control input-sm mutil">
                    <option value="Name">Tên Chợ</option>
                </select>
            </div>
            @if (ViewBag.isadmin)
            {
                <div class="form-group">
                <select name="Area_ID" id="Area_ID" class="form-control select2">
                    <option value="">Chọn Khu vực</option>
                    @foreach (var item in ViewBag.area)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
            }
            
            <div class="form-group">
                <select name="Market_ID" id="Market_ID" class="form-control select2">
                    <option value="">Chọn Chợ</option>
                    @foreach (var item in ViewBag.market)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>

            <button name="submit.Search" type="submit" class="btn btn-sm btn-primary"><span class="fa fa-search"></span>Tìm kiếm</button>
            @*<button type="button" class="btn btn-sm btn-primary" id="Uploads">Import Excel</button>*@
            
        </form>
    </div>
</div>
