@model Admin.Models.UserAdministration.RoleViewModel
@{
    ViewBag.Title = "Quản lý vai trò " + Model.Role;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNew.cshtml";
    var stt = 1;
}

<div class="header-control">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li><a href="/Admin/Admin"><i class="fa fa-home"></i>Home</a><i class="fa fa-circle"></i></li>
            <li class="active">Quản lý quản vai trò: @Model.Role</li>
        </ul>
    </div>
    <h3 class="page-title">
        Các tính năng
        <small></small>
    </h3>
    <div class="group-form-control">
        @Html.ActionLink("Quản lý tính năng quản trị", "Roles", "UserAdministration", new { }, new { @class = "btn btn-sm btn-primary", @id = "btn_back" })
    </div>
</div>
<div class="content-control">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <colgroup>
                    
                    <col class="colgroup indentity" />
                    <col />
                    <col/>
                </colgroup>
                <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th>Người quản trị</th>
                    <th colspan="2" class="text-left" style="text-align: left !important">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                @if (Model.Users.Any())
                {
                    foreach (var key in Model.Users.Keys)
                    {
                        var user = Model.Users[key];
                        <tr>
                            <td class="text-center">@(stt++)</td>
                            <td>
                                @if (user == null)
                                {
                                    <span>@key <em>(Deleted)</em></span>
                                }
                                else
                                {
                                    @Html.ActionLink(user.UserName, "Details", new {id = user.ProviderUserKey})
                                }
                            </td>
                            <td>
                                @if (user == null)
                                {
                                    <span>@key <em>(Deleted)</em></span>
                                }
                                else
                                {
                                    using (Html.BeginForm("RemoveFromRole", "UserAdministration", new {id = user.ProviderUserKey, role = Model.Role}))
                                    {
                                        <button class="btn btn-sm btn-danger" type="submit">Xóa vai trò của @user.UserName</button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">Không có tài khoản nào được sử dụng</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-control">
    </div>
</div>
