@using FDI.CORE
@model FDI.Simple.ReceiptPaymentItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<script>
    $(function () {
        $(".customer").hide();
        callSelect2("#UserId", "100%");
        callSelect2("#CostTypeId", "100%");
        $("#modalForm").validate({
            rules: {
                Price: { required: true },
                Note: { required: true }
            },
            messages: {
                Price: "Trường bắt buộc nhập.",
                Note: "Trường bắt buộc nhập."
            },
            submitHandler: function () { //onSubmit
                $(".maskPrice").each(function (i) {
                    $(this).val($(this).val().replace(/\,/g, ''));
                });
                PostAction("#modalForm");
            }
        });
    })
</script>
<form id="modalForm">
    <div class="modal-body">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action" />
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID" />
        <input type="hidden" name="AgencyId" id="AgencyId" value="@ViewBag.AgencyId" />
        <input type="hidden" name="UserCashier" id="UserCashier" value="@(Model.UserCashier??ViewBag.UserCreate)" />
        <input type="hidden" name="Status" id="Status" value="@((int)Vouchers.Receipt)" />
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-database"></i>Thông tin về phiếu thu
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ngày thu</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="DateReturn_" name="DateReturn_" value="@(Model.DateReturn != null ? Model.DateReturn.DecimalToString("yyyy-MM-dd") : DateTime.Now.Format("yyyy-MM-dd"))">
                            </div>
                            <label class="col-sm-2 control-label">Loại phiếu thu</label>
                            <div class="col-sm-4">
                                <select id="CostTypeId" name="CostTypeId" class="select2">
                                    @foreach (var item in ViewBag.CostType)
                                    {
                                        <option value="@item.ID" @(Model.ID == item.ID ? "selected" : "")>@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Số tiền</label>
                            <div class="col-sm-4">
                                <input id="Price" name="Price" class="form-control maskPrice text-right" value="@Model.Price">
                            </div>
                            <label class="col-sm-2 control-label">Thanh toán</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="PaymentMethodId">
                                    <option value="@((int)PaymentMethod.Cash)">Tiền mặt</option>
                                    <option value="@((int)PaymentMethod.Transfer)">Chuyển khoản</option>
                                    <option value="@((int)PaymentMethod.Other)">Khác</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ghi chú</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" name="Note" id="Note">@Model.Note</textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-success">Cập nhật</button>
        <button id="close" type="button" data-dismiss="modal" class="btn btn-sm btn-default">Đóng</button>
    </div>
</form>