@using FDI.CORE
@model FDI.Simple.ModelOrderItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
    var stt = 1;
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
               
                <thead>
                <tr>
                    <th class="act_roles">
                        <input value="" type="checkbox" class="checkAll" />
                    </th>
                    <th>STT</th>
                    <th><a href="#Field=ID">Số HD</a></th>
                    <th><a href="#Field=CustomerName">Khách hàng</a></th>
                    <th><a href="#Field=CutomerPhone">Điện thoại</a></th>
                    <th><a href="#Field=StartDate">Bắt đầu</a></th>
                    <th><a href="#Field=EndDate">Kết thúc</a></th>
                    <th><a href="#Field=UserName">Thu ngân</a></th>
                    <th><a href="#Field=UserName1">NVPV</a></th>
                    <th><a href="#Field=CodeUser">Mã PV</a></th>
                    <th><a href="#Field=PrizeMoney">Tích lũy</a></th>
                    <th><a href="#Field=Deposits">Đặt cọc</a></th>
                    <th class="text-right"><a href="#Field=TotalPrice">Tổng tiền</a></th>
                    <th class="text-right"><a href="#Field=Payment">Thanh toán</a></th>
                    <th><a href="#Field=Status">Trạng thái</a></th>
                    <th class="text-right">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                @if (Model.ListOrderItem != null)
                {
                    foreach (var item in Model.ListOrderItem)
                    {
                        <tr data-id="@item.ID">
                            <td class="act_roles">
                                <input type="checkbox" value="@item.ID" class="check">
                            </td>
                            <td>@(stt++)</td>
                            <td>@item.ID</td>
                            <td>@(item.CustomerName ?? "(Khách lẻ)")</td>
                            <td>@item.CutomerPhone</td>
                            <td>@item.StartDate.DecimalToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.EndDate.DecimalToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.UserName</td>
                            <td>@item.UserName1</td>
                            <td>@item.CodeUser</td>
                            <td class="text-right">@item.PrizeMoney.Money()</td>
                            <td class="text-right">@item.Deposits.Money()</td>
                            <td class="text-right">@item.TotalPrice.Money()</td>
                            <td class="text-right">@item.Payments.Money()</td>
                            <td>
                                @switch (item.Status)
                                {
                                    case ((int) OrderStatus.Pending):
                                        <label class="label label-info">Chưa thanh toán</label>
                                        break;
                                    case ((int) OrderStatus.Processing):
                                        <label class="label label-info">Chưa thanh toán</label>
                                        break;
                                    case ((int) OrderStatus.Cancelled):
                                        <label class="label label-danger">Đã hủy</label>
                                        break;
                                    case ((int) OrderStatus.Complete):
                                        <label class="label label-success">Hoàn thành</label>
                                        break;
                                }
                            </td>
                            <td class="text-right">
                                @Grid.ActionView(item.ID, item.CustomerName)
                                @*@if (item.Status != (int) OrderStatus.Cancelled)
                                {
                                    @Grid.ActionDelete(item.ID, item.CustomerName)
                                }*@
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
        var total = '@(Model.Total.HasValue ? Model.Total.Value : 0)';
        var totaldiscount = '@(Model.TotalDiscount.HasValue ? Model.TotalDiscount.Value : 0)';
        var totalpay = '@(Model.TotalPay.HasValue ? Model.TotalPay.Value : 0)';        
        $('.bottom-pager').append('<span>Tổng : <i class="maskPrice">' + total + '</i>  vnđ</span><span>- Tổng TT: <i class="maskPrice">' + totalpay + '</i>  vnđ</span><span>- Tổng ĐC: <i class="maskPrice">' + totaldiscount + '</i>  vnđ</span>');
        
    });
</script>
