@using FDI.Utils
@model FDI.Base.Shop_Product

@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<div class="modal-body">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-newspaper-o"></i>Thông tin về sản phẩm
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <td style="width: 15%">
                            <label>Mã sản phẩm </label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Code)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Tên sản phẩm </label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Giá sản phẩm </label>
                        </td>
                        <td>
                            @string.Format("{0:0,0}", Model.PriceNew)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Loại màu </label>
                        </td>
                        <td>
                            @*@Html.DisplayFor(model => model.System_Color.Name)*@
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Hãng sản xuất</label>
                        </td>
                        <td>
                            @*@Html.Raw(Model.Shop_Brand.Name)*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>SEO Description</label>
                        </td>
                        <td>
                            @Html.Raw(Model.SEODescription)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>SEO Title</label>
                        </td>
                        <td>
                            @Html.Raw(Model.SEOTitle)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>SEO Keyword</label>
                        </td>
                        <td>
                            @Html.Raw(Model.SEOKeyword)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Hình ảnh đại diện</label>
                        </td>
                        <td>
                            <img src="@((!Model.PictureID.HasValue) ? "/Content/Admin/images/no_image.gif" : (Model.Gallery_Picture.Folder + Model.Gallery_Picture.Url).Picture())" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Chuyên mục tin</label>
                        </td>
                        <td>
                            @string.Join(", ", Model.Categories.Select(c => c.Name))
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Hiển thị</label>
                        </td>
                        <td>
                            @Grid.DisplayShow(Model.Name, Model.IsShow == true)
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <label><b>NỘI DUNG CHI TIẾT</b></label>
                        </th>                        
                    </tr>
					<tr>
						<td colspan="2">
                            @Html.Raw(Model.Details)
                        </td>
					</tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
</div>	