@model IEnumerable<FDI.Simple.ProductGroupAttributeItem>
@{
    ViewBag.Title = ViewBag.ActionText + " sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AjaxShare.cshtml";
    var listAttributeSpec = (List<FDI.Simple.ProductAttributeSpecificationItem>)ViewData["ListAttribute"];
}
<div class="list-attribute">
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-name"><b>@item.Name</b>@*<a href="javascript:;" class="delete-group-attr" data-id="@item.ID"><img src="/Content/Admin/images/gridview/delete.gif" alt="Delete"></a>*@</td>
                <td>
                    <table>
                        @foreach (var item1 in item.LstProAttrItem)
                        {
                            <tr>
                                <td class="col-name">@item1.Name @*<a href="javascript:;" class="delete-attr" data-id="@item1.ID"><img src="/Content/Admin/images/gridview/delete.gif" alt="Delete"></a>*@</td>
                                <td class="col-data">
                                    @{
                            var productAttributeSpecificationItem = listAttributeSpec.FirstOrDefault(a => a.AttributeID == item1.ID);
                                    }
                                    @if (productAttributeSpecificationItem != null)
                                    {
                                        <span class="attr-text" title="@productAttributeSpecificationItem.Name">@productAttributeSpecificationItem.Name</span>
                                        <input type="text" class="txtNameSpec hide" data-attr="@item1.ID" />
                                        <span class="attr-action">
                                            <a href="#" class="attr-action-success hide" data-product="@ViewBag.ProductID"><img src="/Content/Admin/images/gridview/save.png" alt="Submit"/></a>
                                            <a href="#" class="attr-action-delete show" data-product="@ViewBag.ProductID" data-spec="@productAttributeSpecificationItem.ID"><img src="/Content/Admin/images/gridview/delete.gif" alt="Delete"/></a>
                                            <a href="#" class="attr-action-eraser hide"><img src="/Content/Admin/images/gridview/eraser.png" alt="Eraser"/></a>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="attr-text"></span>
                                        <input type="text" class="txtNameSpec block" data-attr="@item1.ID" />
                                        <span class="attr-action">
                                            <a href="#" class="attr-action-success show" data-product="@ViewBag.ProductID"><img src="/Content/Admin/images/gridview/save.png" alt="Submit"/></a>
                                            <a href="#" class="attr-action-delete hide" data-product="@ViewBag.ProductID"><img src="/Content/Admin/images/gridview/delete.gif" alt="Delete"/></a>
                                            <a href="#" class="attr-action-eraser hide"><img src="/Content/Admin/images/gridview/eraser.png" alt="Eraser"/></a>
                                        </span>
                                    }
                                    <div class="result-autocomplte">
                                        <ul></ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    </table>
</div>
