@using FDI.Utils
@model FDI.Simple.ModelAdvertisingItem

@{
    ViewBag.Title = "List Advertising";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <colgroup>
                    <col class="colgroup check" />
                    <col class="colgroup indentity" />
                    <col class="colgroup price" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col class="colgroup action-3" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" type="checkbox" />
                        </th>
                        <th class="text-center"><a href="#Field=ID">ID</a></th>
                        <th class="text-center">Hình Ảnh</th>
                        <th><a href="#Field=Name">Tên Banner</a></th>
                        <th><a href="#Field=PositionName">Loại Banner</a></th>
                        <th>Vị trí</th>
                        <th class="text-center"><a href="#Field=Show">Hiển thị</a></th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>

                @foreach (var item in Model.ListItem)
                {
                    <tr title="@item.Name">
                        <td class="act_roles">
                            <input type="checkbox" value="@item.ID" class="check">
                        </td>
                        <td class="text-center">@item.ID</td>
                        @switch (item.TypeName.ToLower())
                        {
                            case "picture":
                                <td>
                                    <div>
                                        <a href="@item.PictureUrl.UploadPicture()" class="call-images-root" data-effect="mfp-zoom-in"><img src="@item.PictureUrl.UploadPicture()" class="img-responsive" /></a>
                                    </div>
                                </td>
                                break;
                            case "video":
                                <td>
                                    <iframe width="100%" src="//www.youtube.com/embed/@item.UrlVideo" frameborder="0" allowfullscreen></iframe>
                                </td>
                                break;
                            case "flash":
                                <td>
                                    <embed width="100%" type="application/x-shockwave-flash" src="@item.UrlVideo"></embed>
                                </td>
                                break;
                            default:
                                <td></td>
                                break;
                        }
                        <td>@item.Name</td>
                        <td>@item.TypeName</td>
                        <td>@item.PositionName</td>
                        <td class="text-center">@Grid.ActionShow(item.ID, item.Name, item.Show)</td>
                        <td class="text-right">
                            @Grid.ActionView(item.ID, item.Name)
                            @Grid.ActionEdit(item.ID, item.Name)
                            @Grid.ActionDelete(item.ID, item.Name)
                        </td>
                    </tr>
                }
            </table>
            <script>
                $(document).ready(function () {
                    $('.call-images-root').magnificPopup({
                        type: 'image',
                        removalDelay: 500, //delay removal by X to allow out-animation
                        callbacks: {
                            beforeOpen: function () {
                                // just a hack that adds mfp-anim class to markup
                                this.st.image.markup = this.st.image.markup.replace('mfp-figure', 'mfp-figure mfp-with-anim');
                                this.st.mainClass = this.st.el.attr('data-effect');
                            }
                        },
                        closeOnContentClick: true,
                        midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
                    });
                    $('.popup-youtube').magnificPopup({
                        disableOn: 700,
                        type: 'iframe',
                        mainClass: 'mfp-fade',
                        removalDelay: 160,
                        preloader: false,

                        fixedContentPos: false
                    });

                });
            </script>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>
