@using FDI.Utils
@model FDI.Base.Partner
@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<div class="modal-body">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-users"></i>Thông tin về đối tác
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <td style="width: 15%">
                            <label>Tên Đối tác</label>
                        </td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td>
                            <label>Hình ảnh đại diện</label>
                        </td>
                        <td>
                            <img src="@((!Model.PictureID.HasValue) ? "/Content/Admin/images/no_image.gif" : (Model.Gallery_Picture.Folder + Model.Gallery_Picture.Url).Picture())"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Mô tả</label>
                        </td>
                        <td>
                            @Model.Description
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Nội dung chi tiết</label>
                        </td>
                        <td>
                            @Html.Raw(Model.Details)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Hiển thị</label>
                        </td>
                        <td>
                            @Grid.DisplayShow(Model.Name, Model.IsShow == true)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>SEO Description</label>
                        </td>
                        <td>
                            @Html.Raw(Model.SEODescription)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>SEO Title</label>
                        </td>
                        <td>
                            @Html.Raw(Model.SEOTitle)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>SEO Keyword</label>
                        </td>
                        <td>
                            @Html.Raw(Model.SEOKeyword)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-sm btn-default">Đóng</button>
</div>

