@model FDI.Base.System_File

@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<fieldset class="forms">
    <table class="tableforms tabledetails" cellspacing="1" width="100%">
        <tr>
            <td style="width:90px;" class="label"><label>Tên file đính kèm</label></td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>

        <tr>
            <td class="label"><label>Kích thước</label></td>
            <td>@FDI.Utils.FDIUtils.FormatBytes(Model.Data.Length)</td>
        </tr>
        <tr>
            <td class="label"><label>Sản phẩm</label></td>
            <td>
                @Model.Shop_Product.Count()
            </td>
        </tr>

        <tr>
            <td class="label"><label>Tin tức</label></td>
            <td>
                @Model.News_News.Count()
            </td>
        </tr>

        <tr>
            <td class="label"><label>Hỏi đáp</label></td>
            <td>
                @Model.FAQ_Answer.Count()
            </td>
        </tr>

        <tr>
            <td class="label"><label>Hướng dẫn</label></td>
            <td>
                @Model.Guide_Guide.Count()
            </td>
        </tr>
    </table>
</fieldset>

