@model FDI.Base.System_File
@{
    ViewBag.Title = ViewBag.ActionText + " file đính kèm";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        var arrFileObj = new Array();

        function getJsonData() {
            var jsonData = '[';
            for (i = 0; i < arrFileObj.length; i++) {
                jsonData += '{';
                jsonData += '   "Name" : "' + arrFileObj[i].name + '",';
                jsonData += '   "FilePath" : "' + arrFileObj[i].filePath + '",';
                jsonData += '   "Size" : ' + arrFileObj[i].size + ',';
                jsonData += '   "Type" : "' + arrFileObj[i].type + '"';
                jsonData += '}';
                if (i < arrFileObj.length - 1)
                    jsonData += ',';
            }
            jsonData += ']';
            return jsonData;
        }

        $('#file_upload').uploadify({
            'uploader': '/Uploadify/uploadify.swf',
            'script': '/Uploadify/uploadify.ashx',
            'cancelImg': '/Uploadify/cancel.png',
            'folder': '/Temp',
            'multi': true,
            'auto': true,
            'removeCompleted': false,
            'onCancel': function (event, ID) {
                var fileNameCancel = $("#file_upload" + ID + " .fileName").text();
                fileNameCancel = fileNameCancel.substring(0, fileNameCancel.indexOf('(') - 1);
                for (i = 0; i < arrFileObj.length; i++) {
                    if (arrFileObj[i].name == fileNameCancel) {
                        arrFileObj.splice(i, 1);
                        $("#file_upload" + ID).remove();
                        break;
                    }
                }
            },
            'onComplete': function (event, ID, fileObj) {
                $("#@Html.IdFor(model => model.Name)").val(fileObj.name);
                console.log(fileObj.name);
                arrFileObj.push(fileObj);
            },
            'onAllComplete': function (event, data) {
                $('#status-message').html('<span class="message">' + data.filesUploaded + ' file đã upload thành công, ' + data.errors + ' file lỗi.</span>');
            }
        });

        $("#SystemFileForm").validate({
            rules: {
                Name:
                {
                    required: true,
                    minlength: 3,
                    maxlength: 30
                }
            },
            submitHandler: function () { //onSubmit
                $.post(urlPostAction, $("#SystemFileForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").modal('hide'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });

    });
</script>


<form id="SystemFileForm">
    <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
    <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID"/>    
    @if (ViewBag.Action.ToString().Equals("Add"))
    {
        <fieldset class="forms">
            <table class="tableforms" cellspacing="1" width="100%">
                <tr>
                    <td>
                        @Html.HiddenFor(model => model.Name)
                        <p><b>Click vào nút select file và chọn file cần upload</b></p>
                        <p></p>
                        <input id="file_upload" name="file_upload" type="file" />
                        <p id="status-message"></p>
                    </td>
                </tr>
                <tr>
                    <td class="submit">
                        <button id="submit" type="submit" class="primaryAction">Nhập ảnh upload vào hệ thống</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Đóng</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    }    
    else{
        <fieldset class="forms">
            <table class="tableforms" cellspacing="1" width="100%">
                <tr>
                    <td style="width: 120px;">
                        <label>Tên file đính kèm</label></td>
                    <td>
                        <input name="Name" id="Name" value="@Model.Name"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button id="submit" type="submit" class="primaryAction">@ViewBag.ActionText</button>
                        <button id="reset" type="reset" class="primaryAction">Nhập lại</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Đóng</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</form>
