@model FDI.Simple.ModelFileItem
@{
    ViewBag.Title = "ListFile";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<section id="mygird" class="vbox">
    <section class="scrollable wrapper w-f">
        <section class="panel panel-default">
            <table class="gridView" cellspacing="1">
                <thead>
                    <tr>
                        <th><a href="#Field=FileID">ID<span /></a></th>
                        <th><a href="#Field=FileName">Tên file đính kèm<span /></a></th>
                        <th>Kích thước</th>
                        <th>Sản Phẩm</th>
                        <th>Tin tức</th>
                        <th>Hỏi đáp</th>
                        <th>Hướng dẫn</th>
                        <th class="act_download"></th>
                        <th class="act_view"></th>
                        <th class="act_edit"></th>
                        <th class="act_delete">
                            <a href="#deleteAll" class="deleteAll" title="Xóa danh sách đã chọn">
                                <img src="/Content/Admin/images/gridview/delete.gif" style="border: none" alt="Xóa danh sách đã chọn" />
                            </a>
                        </th>
                        <th class="act_roles">
                            <input value="" type="checkbox" class="checkAll" />
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model.ListItem)
                {
                    <tr title="@item.Name">
                        <td>
                            @item.ID
                        </td>
                        <td>
                            <img src="@item.TypeIcon" />
                            @Html.ActionLink(item.Name, "FileDownload", "SystemFile", new { @id = item.ID }, new { })
                        </td>
                        <td>
                            @item.DataSize
                        </td>
                        <td>
                            @item.TotalProduct
                        </td>
                        <td>
                            @item.TotalNews
                        </td>
                        <td>
                            @item.TotalAnswer
                        </td>
                        <td>
                            @item.TotalGuide
                        </td>
                        <td class="act_download">@Grid.ActionDownload("/Admin/SystemFile/FileDownload/" + item.ID, item.Name)</td>
                        <td class="act_view">@Grid.ActionView(item.ID, item.Name)</td>
                        <td class="act_edit">@Grid.ActionEdit(item.ID, item.Name)</td>
                        <td class="act_delete">@Grid.ActionDelete(item.ID, item.Name)</td>
                        <td class="act_roles"><input type="checkbox" value="@item.ID" class="check" /></td>
                    </tr>
                }

            </table>
        </section>
    </section>
    <footer class="footer bg-white b-t portlet">
        <div class="row m-t-xs">
            @Html.Raw(Model.PageHtml)
        </div>
    </footer>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>