@using FDI.CORE
@model FDI.Simple.Logistics.OrderCarItem
@{
    Layout = "~/Views/Shared/_MetaTwoColumn.cshtml";
    var date = DateTime.Now;
}
<script>
    $(document).ready(function () {
        urlLists = '@Url.Action("ListItems", new { ordercarId = Model.ID})';
        urlForm = '@Url.Action("AjaxForm", new { ordercarId = Model.ID })';

        initAjaxLoad('@Url.Action("Detail", new { ordercarId = Model.ID })', "#orderDetail");

    })
</script>
<div class="header-control">
    <h3 class="page-title"></h3>
    <div class="group-form-control">
        <form id="gridSearch" class="form-inline" role="form">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default" title="Filter" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#deleteAll" data-event="deleteAll" data-grid="#mygird"><i class="fa fa-trash-o icon-muted fa-fw"></i><span class="text">Xóa</span></a></li>
                </ul>
            </div>
            <div class="form-group">
                <label class="sr-only" for="Keyword">Từ khóa tìm kiếm</label>
                <input type="text" class="form-control input-sm" id="Keyword" name="Keyword" placeholder="Từ khóa tìm kiếm">
            </div>
            <div class="form-group">
                <select name="SearchIn" id="SearchIn" class="form-control input-sm mutil">
                    <option value="CategoryName">Tên sản phẩm</option>
                </select>
            </div>
            <button name="submit.Search" type="submit" class="btn btn-sm btn-primary"><span class="fa fa-search"></span>Tìm kiếm</button>
            <div class="pull-right">
                <a class="btn btn-sm btn-primary " id="Print_Purchase" data-action="Add"><span class="fa fa-download"></span>Export</a>

            </div>
        </form>
    </div>
</div>
@section columnOne{
    <div id="orderDetail"></div>
    <div class="portlet yellow-crusta box" style="display: none">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Order Details
            </div>
        </div>
        <div class="portlet-body">
            <div class="row static-info">
                <div class="col-md-5 name"> Order #: </div>
                <div class="col-md-7 value">
                    @Model.ID
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name"> Giờ đi: </div>
                <div class="col-md-7 value"> @Model.DepartureDate.DecimalToString("dd/MM/yyyy HH:mm") </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name"> Giờ đến: </div>
                <div class="col-md-7 value">
                    @Model.ReceiveDate.DecimalToString("dd/MM/yyyy HH:mm")
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name"> giờ về Total: </div>
                <div class="col-md-7 value">  @Model.ReturnDate.DecimalToString("dd/MM/yyyy HH:mm")  </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name"> Số lượng: </div>
                <div class="col-md-7 value"> @Model.Quantity @Model.UnitName </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name"> Số lần đã nhập: </div>
                <div class="col-md-7 value"> @Model.CountReceived </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name"> Tổng khối lượng: </div>
                <div class="col-md-7 value"> @Model.QuantityReceived </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name"> Nhà cung câp: </div>
                <div class="col-md-7 value"> @Model.SupplierName </div>
            </div>
        </div>
    </div>
}
<div id="BoxPrint" style="text-align: center"></div>
<script src="~/Content/Admin/js/jQuery.print.js"></script>
<style type="text/css">
    @@media print {

        #BoxPrint table {
            margin: 0 auto;
        }
    }
</style>
<script type="text/javascript">
    $("#Print_Purchase").click(function () {
        var id = $(this).data("id");
        var type = $(this).data("type");
        var obj = { ids: [], ordercarId: @Model.ID }

        $('.table-product tbody  input:checkbox').each(function (item) {
            if ($(this).is(":checked")) {
                obj.ids.push($(this).val());
            }
        });

        $.ajax({
            type: 'POST',
            data: JSON.stringify(obj),
            url: "@Url.Action("GetExport", "PurchaseOrderDetail")",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#BoxPrint").html(data);
                $('#BoxPrint').show();
                $("#BoxPrint").print();
                //jQuery.print('#BoxPrint');
                $('#BoxPrint').hide();
            }
        });

    });
</script>