@using FDI.CORE
@model FDI.Simple.Logistics.OrderCarProductDetailResponse
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
    var i = 1;
}


<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-product" role="grid">
                <colgroup>
                    <col class="colgroup check" />
                    <col class="colgroup indentity" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col class="colgroup action-4" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" checked="checked" type="checkbox" class="checkAll" />
                        </th>
                        <th class="text-center"><a href="#Field=ID">STT</a></th>
                        <th class="text-center">Tên</th>
                        <th class="text-center">Khối lượng</th>
                        <th class="text-center"><a href="#Field=Name">Code</a></th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.ListItem)
                    {
                        <tr title="@item.ProductName">
                            <td class="act_roles">
                                <input type="checkbox" checked="checked" value="@item.ID" class="check">
                            </td>
                            <td class="text-center">@(i++)</td>
                            <td class="text-center">@item.ProductName</td>
                            <td class="text-center">@item.Quantity.Quantity("0:0.####")</td>
                            <td class="text-center">@item.Code</td>
                       
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
       
    });
</script>
