@using FDI.CORE
@model FDI.Simple.DNCriteriaItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}

<script type="text/javascript">
   
    $(document).ready(function () {
        callSelect2("#TypeID", "100%");
        callSelect2("#UserId", "100%");
        callSelect2("#RoleId", "100%");
        $("#modalForm").validate({
            rules: {
                Name: { required: true },
                TypeID: { required: true },
                Price: { required: true },
            },
            messages: {
                Name: "Mời bạn nhập tên tiêu chí thưởng.",
                TypeID: "Mời bạn chọn loại tiêu chí",
                Price: "Nhập % thưởng.",
            },
            submitHandler: function () { //onSubmit
                $('.maskPrice').each(function (i) {
                    $(this).val($(this).val().replace(/\,/g, ''));
                });
                PostAction("#modalForm");
            }
        });
    });
</script>


<form id="modalForm">
    <div class="modal-body">
    <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
    <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID"/>
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gear"></i>Thông tin về tiêu chí
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="form-horizontal">
             
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tên tiêu chí</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="..." name="Name" id="Name" value="@Model.Name"/>
                        </div>
                    </div>

                   <div class="form-group">
                        <label class="col-sm-2 control-label">Chọn loại tiêu chí</label>
                        <div class="col-sm-10">
                            <select id="TypeID" name="TypeID" class="select2">
                                @foreach (var item in ViewBag.Type)
                                {
                                    <option  value="@item.ID" @(Model.TypeID == item.ID ? "selected" : string.Empty)>@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">% thưởng theo đơn hàng</label>
                        <div class="col-sm-10">
                            <input type="text" name="Price" id="Price" value="@Model.Price"  class="form-control"/>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Chia đều</label>
                        <div class="col-sm-10">
                            @Html.CheckBox("IsAll") 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Hưởng theo ca</label>
                        <div class="col-sm-10">
                            @Html.CheckBox("IsSchedule")
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Chọn nhân viên</label>
                        <div class="col-sm-10">
                            <select id="UserId" name="UserId" class="select2" multiple>
                                <option value="">--- Chọn nhân viên ---</option>
                                @foreach (var item in ViewBag.UserID)
                                {
                                    <option  value="@item.UserId" @(Model.DNUserItem != null && Model.DNUserItem.Any(m=> m.UserId == item.UserId) ? "selected" : string.Empty)>@item.UserName</option>
                                }
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Chọn nhóm</label>
                        <div class="col-sm-10">
                            <select id="RoleId" name="RoleId" class="select2" multiple>
                                <option value="">--- Chọn nhóm ---</option>
                                @foreach (var item in ViewBag.RoleId)
                                {
                                    <option  value="@item.RoleId" @(Model.DNRolesItem != null && Model.DNRolesItem.Any(m=> m.RoleId == item.RoleId)  ? "selected" : string.Empty)>@item.RoleName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-primary">@ViewBag.ActionText</button>
        <button id="btnReset" type="reset" name="reset" class="btn btn-sm btn-primary">Nhập lại</button>
        <button id="close" type="button" class="btn btn-sm btn-primary">Đóng lại</button>
    </div>
</form>
