@model FDI.Simple.VideoItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}


<div class="modal-body">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-picture-o"></i>Thông tin về Video
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <td style="width: 15%">
                            <label>Tên Video</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>URL Youtube</label>
                        </td>
                        <td>
                            @Html.Raw(Model.UrlYoutube)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Chuyên mục</label>
                        </td>
                        <td id="type">
                            @Html.DisplayFor(model => model.CategoryName)
                        </td>
                    </tr>
                 
                    <tr>
                        <td>
                            <label>Hiển thị</label>
                        </td>
                        <td>
                            @Grid.DisplayShow(Model.Name, Model.IsShow)
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <label>Ngày bắt đầu</label>
                        </td>
                        <td id="type">
                            @Convert.ToDateTime(Model.StartDate).ToString("dd/MM/yyyy HH:ss:mm")
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <label>Ngày kết thúc</label>
                        </td>
                        <td id="type">
                            @Convert.ToDateTime(Model.EndDate).ToString("dd/MM/yyyy HH:ss:mm")
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <label>Mô tả</label>
                        </td>
                        <td>
                            @Html.Raw(Model.Description)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
</div>


