@using FDI.CORE
@model FDI.Simple.Supplier.SupplierAmountProductResponse
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <colgroup>
                    <col class="colgroup check" />
                    <col class="colgroup indentity" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col class="colgroup action-4" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" type="checkbox" />
                        </th>
                        <th class="text-center"><a href="#Field=ID">ID</a></th>
                        <th class="text-center">NCC</th>
                        <th class="text-center">Sản phẩm</th>
                        <th class="text-center"><a href="#Field=Name">Số lượng</a></th>
                      
                        <th class="text-center"><a href="#Field=Name">Số lượng đã bán</a></th>
                        <th class="text-center"><a href="#Field=Name">Ngày xuất</a></th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>

                @foreach (var item in Model.ListItem)
                {
            <tr title="@item.CategoryName">
                <td class="act_roles">
                    <input type="checkbox" value="@item.ID" class="check">
                </td>
                <td class="text-center">@item.ID</td>
                <td>@item.SupplierName</td>
                <td>@item.CategoryName</td>
                <td>@item.AmountEstimate</td>
                <td>@item.AmountPayed</td>
                <td class="text-center">@item.PublicationDate.DecimalToString("dd/MM/yyyy")</td>

                <td class="text-right">
                    @Grid.ActionEdit(item.ID, item.CategoryName)
                    @Grid.ActionDelete(item.ID, item.CategoryName)
                </td>
            </tr>
                }
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>