@model FDI.Base.News_News
@{
    ViewBag.Title = ViewBag.ActionText + " bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<script type="text/javascript">
    var urlAutocomplete = '@Url.Action("AutoSystemTag", "SystemTag")';
    var arrFileObj = new Array();
    Array.prototype.remove = function (el) {
        var idx = this.indexOf(el);
        if (idx != -1) {
            this.splice(idx, 1);
        }
        return this;
    };

    function removeTag(id) {
        var arrId = $('#values-arr-tag').val();
        var arrIds = arrId.split(',');
        arrIds.remove(id);
        $('#values-arr-tag').val(arrIds.toString());
        $("#listTagAttachRemove span[id='" + id + "']").parent().remove();
    }

    $(function () {
        registerGallery();

        LoadCKEDITOR('Details', true);
        
        $("#tag").keypress(function (e) {
            if (e.keyCode === 13) {
                var valuesAdd = trim12($(this).val());
                if (valuesAdd === '')
                    createMessage('Đã có lỗi xảy ra.', 'Bạn phải nhập vào từ khóa tìm kiếm');
                return false;
            }
        });
        $('#tag').autocomplete({
            serviceUrl: urlAutocomplete,
            minChars: 1,
            delimiter: /(;)\s*/, // regex or character
            maxHeight: 400,
            onSelect: function (el) {
                alert(1);
                var arrId = $('#values-arr-tag').val();
                var _arrID = [];
                if (arrId.length > 0)
                    _arrID = arrId.split(',');
                _arrID.push(el.data);
                $('#tag').val("");
                $("#values-arr-tag").val(_arrID.join(","));
                var product = "<li><span class='label label-success' title=" + el.value + " id=" + el.data + ">" + el.value + "<a title='Xóa tag đính kèm: " + el.value + "' href='javascript:removeTag(" + el.data + ");'><i class = 'fa fa-times' style='color:red; font-size:15px'></i></a></span></li>";
                $('#listTagAttachRemove').append(product);
            },
        });

        var urlSelectCategory = '@Url.Action("AjaxTreeCategorySelect", "Category", new {@pageId = 0})';
        $("#selectCategory").click(function () {
            var valuesSelected = $("#Value_CategoryValues").val();
            $('body').modalmanager('loading');
            $("#dialog-form-2 .modal-title").html("Chọn chuyên mục bài viết");
            $("#dialog-form-2 #dialog-form-ajax").load(encodeURI(urlSelectCategory + "&valuesSelected=" + valuesSelected));
            $('#dialog-form-2').modal('show');
            return false;
        });

        registerDate();
        $("#frm-modal").validate({
            rules: {
                Title:
                {
                    required: true,
                    minlength: 3,
                    remote: "@Url.Action("CheckTitleAsciiExits", "NewsContent", new {id = Model.ID})",
                    maxlength: 255
                },
                @*TitleAscii:
                {
                    required: true,
                    minlength: 3,
                    maxlength: 255,
                    remote: "@Url.Action("CheckTitleAsciiExits", "NewsContent", new {id = Model.ID})"
                },*@
                link: {
                    url: true,
                },
                Description:
                {
                    required: true,
                    maxlength: 2000
                }
            },
            messages: {
                Title:
                {
                    required: "Trường này là bắt buộc.",
                    minlength: "Tiêu đề quá ngắn.",
                    maxlength: "Tiêu đề quá dài"
                },
                //TitleAscii: "Link này đã tồn tại",
                link: "Sai đường dẫn.",
                Description: "Trường này là bắt buộc."
            },
            submitHandler: function () { //onSubmit
                var cate = $("#Value_CategoryValues").val();
                if (cate == "") {
                    $("#errorCategory").show();
                    return false;
                }
                var pictureId = $("#Value_DefaultImages").val();
                if (pictureId == "") {
                    $("#errorPicture").show();
                    return false;
                }
                updateEditor();
                getValueFromAutoTag('listProductValues', 'ProductValues');
                getValueFromAutoTag('listTagValues', 'TagValues');
                $.post(urlPostAction, $("#frm-modal").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $('#dialog-form').modal('hide'); //Đóng form thêm mới - sửa
                        $('#dialog-form #dialog-form-ajax').html('');
                        var linkFW = '#Page=' + getParameters("Page", 1) + '&RowPerPage=' + getParameters("RowPerPage", 50);
                        createCloseMessage("Thông báo", data.Message, linkFW + '&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + '');
                    }
                });
                return false;
            }
        });

        $("#Title").on('keyup', function (e) {
            e.preventDefault();
            $('#TitleAscii').val(RemoveUnicode($(this).val()));
            //$('#SEOTitle').val($(this).val());
            //$('#SEODescription').val($(this).val());
            //$('#SEOKeyword').val($(this).val());
        });
    });
</script>
<form id="frm-modal">
    <div class="modal-body">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action" />
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID" />
        <input type="hidden" id="listValueFileAttach" name="listValueFileAttach" />
        <input type="hidden" id="listValueFileAttachRemove" name="listValueFileAttachRemove" />
        <input type="hidden" name="TagValues" id="TagValues" />
        <input type="hidden" name="ProductValues" id="ProductValues" />
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-newspaper-o"></i>Thông tin về bài viết
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tên bài viết</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="..." name="Title" @(ViewBag.Action.ToString().Equals("Add") ? "class=autoPermalink" : "") id="Title" value="@Model.Title" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Chuyên mục tin</label>
                            <div class="col-sm-10">
                                <button id="selectCategory" type="button" class="btn btn-sm btn-primary"><span class="fa fa-bars"></span>Chọn chuyên mục tin tức</button>
                                <label id="errorCategory" class="error" style="display: none">Chưa chọn chuyên mục.</label>
                                <input type="hidden" name="Value_CategoryValues" id="Value_CategoryValues" value="@string.Join(", ", Model.Categories.Select(c => c.Id))" />
                                <div id="Text_CategoryValues" class="checkBoxValues">@string.Join(", ", Model.Categories.Select(c => c.Name))</div>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-sm-2 control-label">Nhà mạng</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="HomeNetworkID" id="HomeNetworkID">
                                    <option value="">-- Chọn nhà mạng --</option>
                                    @foreach (var item in ViewBag.HomeWork)
                                    {
                                        <option value="@item.ID" @(item.ID == Model.HomeNetworkID ? "selected" : "")>@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>*@


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ảnh đại diện</label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-sm btn-primary" id="Button_DefaultImages" data-type="gallery" data-type-value="2" data-multi="false" data-container="DefaultImages" data-value="Value_DefaultImages"><span class="fa fa-picture-o"></span>Chọn hỉnh ảnh đại diện</button>
                                <label id="errorPicture" class="error" style="display: none">Chưa chọn hình ảnh.</label>
                                <input type="hidden" name="Value_DefaultImages" id="Value_DefaultImages" value="@Model.PictureID" data-multi="false" />
                                <div id="Text_DefaultImages">
                                    <div class="gridView list-images-popup">
                                        @if (Model.Gallery_Picture != null && Model.PictureID > 0)
                                        {
                                            <div class="image-product" id="@Model.Gallery_Picture.ID">
                                                <div class="image">
                                                    @Gallery.DisplayImage(Model.Gallery_Picture.Folder + Model.Gallery_Picture.Url, 120)
                                                    <div class="option">
                                                        <button type="button" class="btn red deleteImg" data-id="@Model.Gallery_Picture.ID" data-ctn="DefaultImages"><i class="fa fa-trash-o"></i></button>
                                                    </div>
                                                </div>
                                                <span>@Model.Gallery_Picture.Name</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mô tả (Excerpt)</label>
                            <div class="col-sm-10">
                                <textarea rows="5" class="form-control" placeholder="..." name="Description" id="Description">@Model.Description</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nội dung chi tiết</label>
                            <div class="col-sm-10">
                                <textarea rows="10" class="form-control" placeholder="..." name="Details" id="Details">@Model.Details</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox col-md-6">
                                    <label>
                                        @Html.CheckBox("IsShow")Hiển thị
                                    </label>
                                </div>
                                <div class="checkbox col-md-6">
                                    <label>
                                        @Html.CheckBox("IsHot")Tin nổi bật
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Thứ tự</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="..." name="DisplayOrder"  id="DisplayOrder" value="@Model.DisplayOrder" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ngày tạo</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" name="DateCreated_"  id="DateCreated_" value="@(Model.DateCreated.HasValue ? Model.DateCreated.Value.ToString("yyyy-MM-dd") : "")" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @((ViewBag.Action.ToString().Equals("Add")) ? "Người tạo" : "Người sửa")
                            </label>
                            <div class="col-sm-10">
                                <p class="form-control-static">@User.Identity.Name</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                               Tên File PDF
                            </label>
                            <div class="col-sm-10">
                                <input type="text" name="LinkTinTuc" id="LinkTinTuc" class="form-control" value="@Model.LinkTinTuc" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet box green nmgb">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-external-link-square"></i>Hỗ trợ SEO
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">SEO permalink</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="..." name="TitleAscii" id="TitleAscii" value="@Model.TitleAscii" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">SEO Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="..." name="SEOTitle" id="SEOTitle" value="@Model.SEOTitle" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">SEO Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="..." name="SEODescription" id="SEODescription" value="@Model.SEODescription" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">SEO Keyword</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="..." name="SEOKeyword" id="SEOKeyword" value="@Model.SEOKeyword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tags</label>
                            <div class="col-sm-10">

                                <input type="text" name="tag" id="tag" value="" placeholder="Chọn tag hiện thị" class="form-control" />
                                <input type="hidden" name="values-arr-tag" id="values-arr-tag" value="@string.Join(",", Model.System_Tag.Select(c => c.ID))" />

                                <span class="note-video">Tag đã chọn :</span>
                                <div class="list-tag-attach">
                                    <ul id="listTagAttachRemove">
                                        @foreach (var tag in Model.System_Tag)
                                        {
                                            <li>
                                                <span class="label label-success" title="@tag.Name" id="@tag.ID">
                                                    @tag.Name
                                                    <a title="Xóa tag đính kèm: @tag.Name" href="javascript:removeTag('@tag.ID');">
                                                        <i class='fa fa-times' style='color: red; font-size: 15px'></i>
                                                    </a>
                                                </span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-success">Cập nhật</button>
        <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Đóng</button>
    </div>
</form>