@{
    Layout = "~/Views/Shared/_MetaTwoColumn.cshtml";
}
@model int

<div class="header-control">
    <h3 class="page-title"></h3>
    <div class="group-form-control">
        <form id="gridSearch" class="form-inline" role="form">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default" title="Filter" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#deleteAll" data-event="deleteAll" data-grid="#mygird"><i class="fa fa-trash-o icon-muted fa-fw"></i><span class="text">Xóa</span></a></li>
                </ul>
            </div>
            <div class="form-group">
                <label class="sr-only" for="Keyword">Từ khóa tìm kiếm</label>
                <input type="text" class="form-control input-sm" id="Keyword" name="Keyword" placeholder="Từ khóa tìm kiếm">
            </div>
            <div class="form-group">
                <select name="SearchIn" id="SearchIn" class="form-control input-sm mutil">
                    <option value="CategoryName">Tên sản phẩm</option>
                </select>
            </div>
            <button name="submit.Search" type="submit" class="btn btn-sm btn-primary"><span class="fa fa-search"></span>Tìm kiếm</button>
            @*<button name="submit" type="submit" class="btn btn-sm btn-primary" id="btn_ExportExcel">Xuất Excel</button>*@
            <div class="btn-group pull-right">
                <button name="submit" type="submit" class="btn btn-sm btn-primary" id="btn_update">Cập nhật</button>
            </div>
        </form>
    </div>
</div>
@section columnOne{
    <div id="orderDetail"></div>

    <div class="portlet box purple ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Nhập SP
            </div>
        </div>
        <div class="portlet-body form">
            <form id="savePurchase" class="form-horizontal" role="form" novalidate="novalidate">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Mã sản phẩm</label>
                        <div class="col-md-9">
                            <input type="text" name="code" id="code" class="form-control input-sm" placeholder="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 pull-right">
                            <button type="submit" class="btn green">Save</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
}

<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(function() {
        urlLists = '@Url.Action("ListItems", new{id=Model})';
        initAjaxLoad('@Url.Action("Detail", new { id = Model })', "#orderDetail");
        urlPostAction = '@Url.Action("Actions",new { id = Model })';

        $("#btn_update").click(function() {
            $.post("@Url.Action("Actions", new {id=Model})" +"?do=insert",
                function(data) {
                    if (data.Erros == false) {
                        createCloseMessage("Thông báo", "Cập nhật thành công", "");
                        $("#code").val("");
                    } else {
                        createMessage("error", data.Message);
                    }
                });
        });

        $("#savePurchase").validate({
            rules: {
                code: {
                    required: true,
                },

            },
            messages: {
                code:
                {
                    required: "Trường này bắt buộc nhập.",
                }
            },
            submitHandler: function () { //onSubmit
                var obj = {id:@Model,  code:$("#code").val()}
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(obj),
                    url: "@Url.Action("Add")" + "?do=add",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        // code here
                        if (data.Erros == false) {
                            createCloseMessage("Thông báo", "Cập nhật thành công", "");
                            $("#code").val("");
                        } else {
                            createMessage("error", data.Message);
                        }
                    }
                });

            }
        });
    })
</script>