@using System.Web.Mvc.Html
@model FDI.Base.HomeNetwork
@{
    ViewBag.Title = ViewBag.ActionText + " nhà mạng";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#MenuGroupForm").validate({
            rules: {
                Name:
                    {
                        required: true,
                        minlength: 3,
                        maxlength: 100
                    },
            },
            submitHandler: function () { //onSubmit
                $.post(urlPostAction, $("#MenuGroupForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").modal('hide'); //Đóng form thêm mới - sửa
                        var linkFW = '#Page=' + getParameters("Page", 1) + '&RowPerPage=' + getParameters("RowPerPage", 50);
                        createCloseMessage("Thông báo", data.Message, linkFW + '&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + '');
                    }
                });
                return false;
            }
        }); 
    });
</script>
<form id="MenuGroupForm">
    <div class="modal-body">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action" />
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID" />
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-link"></i>Thông tin về nhà mạng
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tên vị trí</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="..." value="@Model.Name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Số thứ tự</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Url</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="..." name="Slug" id="Slug" value="@Model.Slug" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">SEO Title</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" name="Description" id="Description" rows="4" >@Model.Description</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">SEO Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="..." name="SEOTitle" id="SEOTitle" value="@Model.SEOTitle" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">SEO Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="..." name="SEODescription" id="SEODescription" value="@Model.SEODescription" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">SEO Keyword</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="..." name="SEOKeyword" id="SEOKeyword" value="@Model.SEOKeyword" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-primary">@ViewBag.ActionText</button>
        <button id="btnReset" type="reset" name="reset" class="btn btn-sm btn-primary">Nhập lại</button>
        <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Đóng</button>
    </div>
</form>
