@using FDI.CORE
@model FDI.Simple.ModelDNLevelRoomItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
    var firt = Model.ListItems.FirstOrDefault();
 
}
<div class="modal-body">
    <div id="ContentOrder">
        <div class="tabbable-custom">
            <ul class="nav nav-tabs">
                @foreach (var item in Model.ListItems)
                {
                    <li class="@(item.ID == firt.ID ? "active" : "")">
                        <a href="#tab_@(item.ID)_1" data-toggle="tab">@item.Name</a>
                    </li>
                }
            </ul>
            <div class="tab-content">
                @foreach (var item in Model.ListItems)
                {
                    <div class="tab-pane fade @(item.ID == firt.ID ? "active" : "") in" id="tab_@(item.ID)_1">
                        <div class="row">
                            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                                <thead>
                                <tr>
                                    <th>Mã KH</th>
                                    <th>Tên KH</th>
                                    <th>Tên giường</th>
                                    <th>Gói dịch vụ</th>
                                    <th>Tiền</th>
                                    <th>Đặt ngày</th>
                                    <th class="text-center">Thao tác</th>
                                </tr>
                                </thead>
                                @foreach (var itemBed in Model.ListContacOrder.Where(m => m.LevelRoomID == item.ID))
                                {
                                    var minuteOrder = (int) (itemBed.StartDate - ConvertDate.TotalSeconds(DateTime.Now))/60;
                                    <tbody>
                                    @if (minuteOrder > 0)
                                    {
                                        <tr data-id="@itemBed.ID" title="@itemBed.BedDeskName">
                                            <td>@itemBed.CutomerCode</td>
                                            <td>@itemBed.CustomerName</td>
                                            <td>@itemBed.BedDeskName</td>
                                            <td>@itemBed.TotalMinute phút</td>
                                            <td>@itemBed.TotalPrice.Money() vnđ</td>
                                            <td>@itemBed.StartDate.DecimalToString("dd/MM/yyyy HH:mm:ss")</td>
                                            <td class="text-center">
                                                <a class="btn btn-sm btn-success btnPay" data-id="@itemBed.ID">Thanh toán</a>
                                                <a class="btn btn-sm btn-danger btnCancel" data-id="@itemBed.ID">Hủy đơn</a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>

                                }
                            </table>
                            <input type="hidden" id="BedID"/>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
</div>
    <style>
        .timer-body-block {
            font-size: 30px;
            text-align: center;
            font-weight: bold;
        }

        .dashboard-stat {
            height: 240px;
        }

        #ContentOrder {
            margin: auto;
            width: 99%;
        }

        .showSweetAlert {
            z-index: 1000000;
            border: 2px solid #ccc;
            -moz-box-shadow: 1px 1px 1px 1px #ccc;
            -webkit-box-shadow: 1px 1px 1px 1px #ccc;
            box-shadow: 1px 1px 1px 1px #ccc;
        }
    </style>
    <script src="/Content/Admin/js/jquery.syotimer.js"></script>
    <script type="text/javascript">
    var socket = io("http://192.168.100.16:3000");
    socket.on('timer', function (data) {
        if (data.countdown > 0) {
            $('#counterup').html(data.countdown);
        } else {
            $("#dashboard-6").removeClass("dashboard-stat red");
            $("#dashboard-6").addClass("dashboard-stat blue");
            $('#counterup').html("");
        }
    });

    $(document).ready(function () {
        registerGridView('#mygird');
    });

    $("[data-event='Status']").click(function () {
        var itemId = $(this).attr("data-id");
        FdiOpenDialog("#dialog-form-3", "50%","/Massage/AjaxStatus?ItemId=" + itemId, "Trạng thái");
    });
    $("[data-event='Order']").click(function () {
        var itemId = $(this).attr("data-id");
        FdiOpenDialog("#dialog-form-3", "50%", "/Massage/AjaxForm?ItemId=" + itemId, "Trạng thái");
    });
    $("[data-event='Pay']").click(function () {
        var itemId = $(this).attr("data-id");
        FdiOpenDialog("#dialog-form-3", "50%", "/Massage/AjaxOrder?ItemId=" + itemId, "Trạng thái");
    });

    $("body").on("click", ".btnPay", function () {
        $("#BedID").val($(this).data("id"));
    });

    $("body").on("click", ".btnCancel", function () {
        $("#BedID").val($(this).data("id"));
    });

    $("[data-event='ResetPay']").click(function () {
        var itemId = $(this).attr("data-id");
        $.post("/Massage/ChangeStatusBedDesk?id=" + itemId, function (data) {
            if (data.Erros == false) {
                createShowMessage("Thông báo", "Hủy thành công", '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
            } else {
                createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
            }
        });
    });
    $("body").on("click", ".btnPay", function () {
        $.post("/Massage/PayOrder?id=" + $(this).data("id"), function (data) {
            if (data.Erros == false) {
                createShowMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                $.post("/Massage/ViewContactOrder", function (dataOther) {
                    $("#ContentOrder").html("");
                    $("#ContentOrder").html(dataOther);
                });
            } else {
                createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
            }
        });
    });

    $("body").on("click", ".btnCancel", function () {
        swal({
            title: "Bạn có muốn hủy đơn đặt hàng này không ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-success",
            cancelButtonText: "Hủy",
            confirmButtonText: "Xác nhận",
            closeOnConfirm: false,
            closeOnCancel: false
        },

        function (isConfirm) {
            if (isConfirm) {
                $.post("/Massage/DeleteOrder?id=" + $("#BedID").val(), function (data) {
                    if (data.Erros == false) {
                        createShowMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                        $.post("/Massage/ViewContactOrder", function (dataOther) {
                            $("#ContentOrder").html("");
                            $("#ContentOrder").html(dataOther);
                        });
                    } else {
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    }
                });
            }
            swal.close();
        });
    });
    </script>
