@using FDI.CORE
@using FDI.CORE
@model FDI.Simple.DNSupplierItem
@{

    Layout = "~/Views/Shared/_Ajax.cshtml";
    var stt = 1;
    decimal? total = 0;
}

<div class="modal-body">
    <div id="PrintContent" class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-newspaper-o"></i>Thông tin về phiếu nhập
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <td style="width: 15%">
                            <label>Nhà cung cấp</label>
                        </td>
                        <td>
                            @Model.Name
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Điện Thoại</label>
                        </td>
                        <td>
                            @Model.Mobile
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Địa chỉ</label>
                        </td>
                        <td>
                            @Model.Address
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Tổng tiền</label>
                        </td>
                        <td>
                            @string.Format("{0:0,0}", Model.LstStorageProductItems.Sum(c => c.TotalPrice))
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-external-link-square"></i>Danh sách hàng cần nhập
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <th>STT</th>
                        <th>Tên SP</th>
                        <th>Số lượng</th>
                        <th>Giá nhập</th>
                        <th>Ngày lấy hàng</th>
                        <th>Giờ lấy hàng</th>
                        <th>Thành tiền</th>
                    </tr>
                    @foreach (var item in Model.LstStorageProductItems)
                    {
                        <tr>
                            <td>@(stt++)</td>
                            <td><span>@item.Catename</span></td>
                            <td>@string.Format("{0:0}", item.Quantity)</td>
                            <td>@string.Format("{0:0,0}", item.Price)</td>
                            <td>@item.DateImport.DecimalToString("dd/MM/yyyy")</td>
                            <td>@item.HourImport h</td>
                            <td>@item.TotalPrice.Money()</td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="btn_Print" class="btn btn-primary btn-sm">In phiếu</button>
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
</div>
@* In phiếu *@
<script src="~/Content/Admin/js/jQuery.print.js"></script>
<script src="~/Content/Admin/js/numeral.min.js"></script>
<script>
    $(function () {
        $("#btn_Print").click(function () {
            $('#BoxPrint').show();
            jQuery.print('#BoxPrint');
            $('#BoxPrint').hide();
        });
    });
</script>
<div id="BoxPrint" style="display: none">
    <link href="~/Content/Admin/css/phieuthu.css" rel="stylesheet" />

    <page size="A4">
        <div class="pt-box-wrap">
            <div class="pt-box">
                @*<div class="pt-head">
                        <div class="left">
                            <ul>
                                <li><img src="https://fditech.vn/Content/Publishing/images/logo-foo.png" width="200px" height="90px" title="logo"/></li>
                            </ul>
                        </div>
                        <div class="right">
                            <div class="pt-name">
                                <div class="center">
                                    <h3 style="font-size: 30px">DANH SÁCH HÀNG NHẬN</h3>
                                    <i> Ngày @Model.Today.DecimalToDate().Day tháng @Model.Today.DecimalToDate().Month năm @Model.Today.DecimalToDate().Year</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-name">
                        <ul>
                            <li>Nhà cung cấp: @Model.Name</li>
                            <li>Điện Thoại: @Model.Mobile</li>
                            <li>Địa chỉ: @Model.Address</li>
                        </ul>
                    </div>*@
                <div class="pt-head">
                    <div class="left">
                        <ul>

                            <li><strong>CÔ TY THỰC PHẨM SẠCH</strong><span></span></li>
                            <li><strong>Bộ phận: Kho hàng</strong><span></span></li>
                        </ul>
                    </div>
                    <div class="right">
                        <strong>Mẫu số 03 - TT</strong>
                        <span>
                            (Ban hành theo Thông tư số 200/2014/TT-BTC
                            Ngày 22/12/2014 của Bộ Tài chính)
                        </span>
                    </div>
                </div>
                <div class="pt-name">
                    <div class="center">
                        <h3>DANH SÁCH NHẬP HÀNG</h3>
                    </div>
                </div>
                <div class="pt-name">
                    <ul>
                        <li>Nhà cung cấp: <b>@Model.Name</b></li>
                        <li>Điện Thoại: <b>@Model.Mobile</b></li>
                        <li>Địa chỉ: <b>@Model.Address</b></li>
                    </ul>
                </div>
                <div class="pt-detail">
                    <table class="table table-bordered" id="box-print-detail">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên SP</th>
                                <th>Số lượng</th>
                                <th>Giá nhập</th>
                                <th>Ngày lấy hàng</th>
                                <th>Giờ lấy hàng</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstStorageProductItems)
                            {
                                <tr>
                                    <td>@(stt++)</td>
                                    <td><span>@item.Catename</span></td>
                                    <td>@string.Format("{0:0}", item.Quantity)</td>
                                    <td>@string.Format("{0:0,0}", item.Price)</td>
                                    <td>@item.DateImport.DecimalToString("dd/MM/yyyy")</td>
                                    <td>@item.HourImport h</td>
                                    <td>@item.TotalPrice.Money()</td>
                                </tr>
                                total += (item.TotalPrice ?? 0);
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">Tổng tiền: </td>
                                <td colspan="2">@total.Money()</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="pt-name">
                    <ul>
                        <li>Bằng chữ: @total.NumberToWord(" đồng")</li>

                    </ul>
                </div>
                <div class="pt-sign item-sign-4">
                    <div class="pt-item-sign">
                        <strong>Thủ kho</strong>
                        <i>(Ký, họ tên, đóng dấu)</i>
                        <div class="pt-wirte-sign"></div>
                    </div>
                    <div class="pt-item-sign">
                        <strong>Kế toán trưởng</strong>
                        <i>(Ký, họ tên)</i>
                        <div class="pt-wirte-sign"></div>
                    </div>
                    <div class="pt-item-sign">
                        <strong>Người nhận hàng</strong>
                        <i>(Ký, họ tên)</i>
                        <div class="pt-wirte-sign">
                            <div class="pt-text-sign"></div>

                        </div>
                    </div>
                    <div class="pt-item-sign">
                        <strong>Người giao hàng</strong>
                        <i>(Ký, họ tên)</i>
                        <div class="pt-wirte-sign"></div>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </page>

</div>
