@using FDI.CORE
@model FDI.Simple.DNExportItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
    var stt = 1;
    var lst = Model.Export_Product_Value != null ? string.Join(",", Model.Export_Product_Value.Where(c=>c.IsDelete == false).Select(c => c.ImportID)) : "";
}
<form id="frm-modal">
    <input type="hidden" name="do" id="do" value="@ViewBag.Action" />
    <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID" />
    <input type="hidden" name="UserID" id="UserID" value="@ViewBag.UserID" />
    <div class="modal-body npd">
        <div class="tabs-bookatable-popup">
            <div class="box-a-table-wrap">
                <div class="user-order" style="width:70%">
                    <div class="input-group" style="margin-bottom: 5px;">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input type="text" class="form-control" id="autoProduct" placeholder="Nhập mã hoặc tên nguyên liệu">
                    </div>
                    <div class="tab-content ct-tabs-bookatable">
                        <div class="tab-pane fade active in" id="tab_1">
                            <div class="select-order">
                                <table class="gridView table table-striped table-bordered" id="ProductDetail">
                                    @*<colgroup>
                                            <col style="width: 10%" />
                                            <col style="width: 30%" />
                                            <col style="width: 15%" />
                                            <col style="width: 10%" />
                                            <col style="width: 15%" />
                                            <col style="width: 15%" />
                                            <col style="width: 10%" />
                                            <col style="width: 15%" />
                                        </colgroup>*@
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên SP</th>
                                            <th class="text-center">Đơn vị</th>
                                            <th class="text-center">SL xuất</th>
                                            <th class="text-center">Giá xuất</th>
                                            <th class="text-center">Thành tiền</th>
                                            <th class="text-center">Giá nhập</th>
                                            <th class="text-center">Ngày nhập</th>
                                            <th class="text-center">HSD</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Export_Product_Value != null)
                                        {
                                            foreach (var item in Model.Export_Product_Value.Where(c => c.IsDelete == false))
                                            {
                                                <tr class="data">
                                                    <td>@(stt++)</td>
                                                    <td>@item.ValueName</td>
                                                    <td class="text-right">@item.UnitName</td>
                                                    <td>
                                                        <input type="hidden" class="inputValue" value="@item.ImportID">
                                                        <input type="number" step="0.01" class="form-control text-right inputValue quantity sl-@item.ImportID" data-pid="@item.ImportID" data-money="@item.Price" value="@string.Format("{0:0.##}", item.Quantity)">
                                                    </td>
                                                    <td class="text-right"><input class="form-control text-right inputValue maskPrice price-@item.ImportID" data-pid="@item.ImportID" value="@item.PriceExport"></td>
                                                    <td class="text-right total total-@item.ImportID">@string.Format("{0:0,0}", item.PriceExport * item.Quantity)</td>
                                                    <td class="text-right inputValue maskPrice">@item.Price</td>
                                                    <td class="text-center">@item.Date.DecimalToString("dd/MM/yyyy")</td>
                                                    <td class="text-center">@item.DateEnd.DecimalToString("dd/MM/yyyy")</td>
                                                    <td class="text-right">
                                                        <button class="btn btn-default pdelete" data-pid="@item.ImportID">
                                                            <i class="fa fa-times" style="color: red;"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pay-order" style="width:30%;height: calc(100vh - 104px);">
                    <div class="title-box-order">
                        <i class="fa fa-info"></i>Thông tin về phiếu xuất
                    </div>
                    <div class="user-detail-order">
                        <div class="form-group" title="Mã phiếu">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-barcode"></i>
                                </div>
                                <input type="text" class="form-control" disabled value="@(Model.Code ?? DateTime.Now.ToString("yyMMddHHmm"))" />
                            </div>
                        </div>
                        <div class="form-group" title="Nhân viên xuất kho">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" class="form-control" disabled value="@ViewBag.User" />
                            </div>
                        </div>
                        <div class="form-group" title="Ngày xuất kho">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input class="form-control" type="date" name="DateCreated_" value="@(Model.DateExport != null ? Model.DateExport.DecimalToString("yyyy-MM-dd") : DateTime.Now.Format("yyyy-MM-dd"))">
                            </div>
                        </div>
                        <div class="form-group" title="Nhân viên nhận">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <select name="UserGet" id="UserGet">
                                    <option value="">-- Nhân viên nhận --</option>
                                    @foreach (var item in ViewBag.LstUser)
                                    {
                                        <option value="@item.UserId" @(item.UserId == Model.UserGet ? "selected" : "")>@item.UserName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group" title="Tổng tiền">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-money"></i>
                                </div>
                                <input class="form-control maskPrice" readonly="" id="TotalPrice" name="TotalPrice" value="@string.Format("{0:0,0}", Model.TotalPrice)">
                            </div>
                        </div>
                        <div class="form-group" title="Ghi chú">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-sticky-note-o"></i>
                                </div>
                                <textarea rows="5" id="Note" name="Note" class="form-control" placeholder="Ghi chú (*)">@Model.Note</textarea>
                            </div>
                        </div>
                        <div class="form-group" title="Tổng tiền">
                            <div class="checkbox col-md-12">
                                <label>
                                    @Html.CheckBox("IsOrder") Đơn hàng thanh lý
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary" data-event="PrintNew" id="PrintNew"><i class="fa fa-floppy-o"></i>Cập nhật</button>
        <button id="close" type="button" class="btn btn-sm btn-default" data-dismiss="modal">Đóng</button>
    </div>
</form>
<script src="~/Content/Admin/js/numeral.min.js"></script>
<script>
    $(document).ready(function () {
        $('.form-control:not("#Note")').keypress(function (event) {
            if (event.keyCode === 10 || event.keyCode === 13) {
                event.preventDefault();
                $("#btnSave").click();
            }
        });
    });
    $(function () {
        callSelect2("#UserGet", "100%");
        var lstP = JSON.parse("[@(lst)]");
        console.log(lstP);
        $('#autoProduct').autocomplete({
            serviceUrl: "/DNExport/AutoInport",
            minChars: 1,
            delimiter: /(;)\s*/,
            maxHeight: 400,
            onSelect: function (el) {
                $('#autoProduct').val("");
                var index = lstP.indexOf(el.ID);
                if (index === -1) {
                    lstP.push(el.ID);
                    var txt = '<tr class="data"><td>stt</td><td>ValueName</td><td class="text-center">UnitName</td><td><input type="hidden" class="inputValue" value="ValueID"><input  type="number" max ="maxRange" step="0.01" class="form-control text-right inputValue quantity sl-ValueID" data-pid="ValueID" data-money="PriceAdd" value="1"></td><td class="text-right"><input class="form-control text-right inputValue maskPrice price-ValueID" min ="0" data-pid="ValueID" value="PriceAdd"></td><td class="text-right total total-ValueID">TotalPrice</td><td class="text-right inputValue">TotalPrice</td><td class="text-center">Date</td><td class="text-center">DateEnd</td><td class="text-right"><button class="btn btn-default pdelete" data-pid="ValueID"><i class="fa fa-times" style="color: red;"></i></button></td></tr>';
                    txt = txt.replace("stt", lstP.length);
                    txt = txt.replace("ValueName", el.title);
                    txt = txt.replace("UnitName", el.Unit);
                    txt = txt.replace("maxRange", el.Quantity - el.QuantityOut);
                    txt = txt.replace(/TotalPrice/g, numeral(el.pricenew).format('0,0'));
                    txt = txt.replace("Date", el.StrDate);
                    txt = txt.replace("DateEnd", el.StrDateEnd);
                    txt = txt.replace(/PriceAdd/g, numeral(el.pricenew).format('0,0'));
                    txt = txt.replace(/ValueID/g, el.ID);
                    $("#TotalPrice").val(numeral(el.pricenew + parseFloat($("#TotalPrice").val().replace(/[,]+/g, ''))).format('0,0'));                   
                    $("#ProductDetail tbody").append(txt);
                    mask();
                }

            }
        });
        $("body").on("click", ".pdelete", function () {
            var pid = parseInt($(this).attr("data-pid"));
            var index = lstP.indexOf(pid);
            lstP.splice(index, 1);
            $(this).parent().parent().remove();
        });

        $("body").on("change", ".inputValue", function () {           
            var pid = $(this).attr("data-pid");
            var sl = parseFloat($(".sl-" + pid).val() !== "" ? $(".sl-" + pid).val() : "0");
            var gia = parseFloat($(".price-" + pid).val() !== "" ? $(".price-" + pid).val().replace(/[,]+/g, '') : "0");
            if (gia <= 0) {
                gia = 0;
                $(".price-" + pid).val(gia);
            }
            if (sl <= 0) {
                sl = 0;
                $(".sl-" + pid).val(sl);
            }
            $(".total-" + pid).html(numeral(sl * gia).format('0,0'));
            var total = 0;
            $('#ProductDetail .data').each(function () {
                $('.total', this).each(function () {
                    var d = $(this).text().replace(/[,]+/g, '');
                    total += parseFloat(d);
                });
            });
            $("#TotalPrice").val(numeral(total).format('0,0'));
        });

        $("#frm-modal").validate({
            rules: {
                Code: {
                    required: true
                },
                Note: {
                    required: true
                },
                UserGet: {
                    required: true
                }
            },
            messages: {
                Code: {
                    required: "Trường này là bắt buộc."
                },
                Note: {
                    required: "Trường này là bắt buộc."
                },
                UserGet: {
                    required: "Trường này là bắt buộc."
                }
            },
            submitHandler: function () { //onSubmit
                $("#btnSave").prop('disabled', true);
                $('.maskPrice').each(function (i) {
                    $(this).val($(this).val().replace(/\,/g, ''));
                });
                $.post("/Utility/DeleteExportValue?key=" + getCookie('CodeLogin'), function () {
                    var check = false;
                    $('#ProductDetail .data').each(function () {
                        var ret = [];
                        $('.inputValue', this).each(function () {
                            var d = $(this).val() || $(this).text().replace(/\,/g, '');
                            ret.push(d);
                        });
                        var item = {
                            ImportID: ret[0],
                            Quantity: ret[1],                            
                            PriceExport: ret[2],
                            Price: ret[3]!=""?ret[3]:"0",
                            Key: getCookie('CodeLogin')
                        }
                        console.log(item);
                        check = true;
                        $.post("/Utility/AddExportValue?json=" + JSON.stringify(item), function () { });
                    });
                    if (check) {
                        $.post("/DNExport/Actions", $("#frm-modal").serialize(), function (data) {
                            $("#btnSave").prop('disabled', false);
                            if (data.Erros)
                                createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                            else {
                                $("#dialog-form-4").modal('hide'); //Đóng form thêm mới - sửa
                                createCloseMessage("Thông báo", data.Message, ""); // Tạo thông báo khi click đóng thì chuyển đến url đích
                            }
                        });
                    } else {
                        $("#btnSave").prop('disabled', false);
                        toastr["error"]("Chưa có sản phẩm nào nhập kho");
                    }
                });
                return false;
            }
        });
    });
</script>
