@using FDI.CORE
@model FDI.Simple.DNExportItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
    var stt = 1;
}
<div class="modal-body">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-newspaper-o"></i>Thông tin về phiếu xuất
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <td style="width: 15%">
                            <label>Mã phiếu</label>
                        </td>
                        <td>
                            @Model.Code
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Người xuất</label>
                        </td>
                        <td>
                            @Model.UserName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Người nhận</label>
                        </td>
                        <td>
                            @Model.UserGetName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Ngày tạo</label>
                        </td>
                        <td>
                            @Model.DateCreated.DecimalToString("dd/MM/yyyy")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Ngày xuất</label>
                        </td>
                        <td>
                            @Model.DateExport.DecimalToString("dd/MM/yyyy")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Tổng tiền</label>
                        </td>
                        <td>
                            @string.Format("{0:0,0}", Model.TotalPrice)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Ghi chú</label>
                        </td>
                        <td>
                            @Model.Note
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-external-link-square"></i>Chi tiết xuất kho nguyên liệu
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <th>STT</th>
                        <th>Tên SP</th>
                        <th>Số lượng</th>
                        <th>Đơn vị</th>
                        <th>Giá nhập</th>
                        <th>Thành tiền</th>
                        <th>Trạng thái</th>
                    </tr>
                    @foreach (var item in Model.Export_Product_Value)
                    {
                        <tr>
                            <td>@(stt++)</td>
                            <td>
                                @if (item.IsDelete == true)
                                {
                                    <strike>@item.ValueName</strike>
                                }
                                else
                                {
                                    <span>@item.ValueName</span>
                                }
                            </td>
                            <td>@string.Format("{0:0.##}", item.Quantity)</td>
                            <td>@item.UnitName</td>
                            <td>@string.Format("{0:0,0}", item.Price)</td>
                            <td>@string.Format("{0:0,0}", item.Price * item.Quantity)</td>
                            <td>
                                @if (item.IsDelete == true)
                                {
                                    <label class="label label-danger">Đã xóa</label>
                                }
                                else
                                {
                                    <label class="label label-success">Hoàn thành</label>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
</div>
