@using FDI.CORE
@using FDI.CORE
@model FDI.Simple.ModelDNRequestWareHouseItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <thead>
                    <tr>
                        <th class="text-center"><a href="#Field=Code">Ngày giao</a></th>
                        <th class="text-center"><a href="#Field=Code">Sản phẩm</a></th>
                        <th class="text-center"><a href="#Field=Code">Số lượng</a></th>
                        <th class="text-center"><a href="#Field=Code">Số lượng nhập</a></th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListItems != null)
                    {
                        var lst = Model.ListItems.GroupBy(m => m.Today).ToList();
                        foreach (var collection in lst)
                        {
                            var i = true;
                            foreach (var item in collection)
                            {
                                <tr data-id="@item.ID" title="@item.Code">
                                    @if (i)
                                    {
                                        <td rowspan="@collection.Count()" class="text-center"><a href="@Url.Action("Index","TotalRequestWareToDay", new {todayCode= item.Today})">@item.Today.DecimalToString("dd/MM/yyyy")</a></td>
                                        i = false;
                                    }
                                    <td class="text-center">@item.ProductName</td>
                                    <td class="text-center">@item.Quantity.Quantity()</td>
                                    <td class="text-center">@item.QuantityActive.Quantity()</td>
                                    <td class="text-center">
                                        @Grid.ActionRedirect(Url.Action("Index", "TotalProductToDay", new { todayCode = item.Today, categoryId = item.CateID }), item.Code)
                                    </td>
                                </tr>
                            }
                        }

                        @*foreach (var item in Model.ListItems)
                            {
                                <tr data-id="@item.ID" title="@item.Code">
                                    <td class="act_roles">
                                        <input type="checkbox" value="@item.ID" class="check">
                                    </td>
                                    <td class="text-center">@item.Today.DecimalToString("dd/MM/yyyy")</td>
                                    <td class="text-center">@item.ProductName</td>
                                    <td class="text-center">@item.Quantity.Quantity()</td>


                                </tr>
                            }*@
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        registerGridView('#mygird');
        $(".btn_Inport").click(function () {
            var id = $(this).attr("data-id");
            var action = $(this).attr("data-action");
            FdiOpenDialog("#dialog-form-4", urlForm + "?ItemId=" + id + "&do=" + action, "Chỉnh sửa phiếu yêu cầu nhập kho");
        });
        $(".btn_Imported").click(function () {
            var id = $(this).attr("data-id");
            var action = $(this).attr("data-action");
            FdiOpenDialog("#dialog-form-4", urlFormModule + "?ItemId=" + id + "&do=" + action, "Nhận hàng vào kho");
        });

        $(".setUser").click(function() {
            var id = $(this).attr("data-id");
            FdiDialogView("@Url.Action("GetUser")" + "?orderId=" + id, "Chọn nhân viên");
        });

        $(".changestatus").click(function (e) {
            e.preventDefault();
            var orderId = $(this).closest('tr').attr('data-id');
            var status = $(this).attr("href").substring(1);

            $.post('@Url.Action("ChangeStatus")', { orderId, status }, function(data) {
                if (data.Erros == true) {
                    createMessage("error", data.Messages);
                } else {
                    window.location.reload();
                }
            });
        });
    });
</script>
