@using FDI.CORE
@model FDI.Simple.ProductItem

@{

    Layout = "~/Views/Shared/_Ajax.cshtml";
    var stt = 1;
}
<div class="modal-body">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-newspaper-o"></i>Thông tin về sản phẩm
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <td style="width: 15%">
                            <label>Tên sản phẩm </label>
                        </td>
                        <td>
                            @Model.Name
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            <label>Mã sản phẩm </label>
                        </td>
                        <td>
                            @Model.CodeSku
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 15%">
                            <label>Màu</label>
                        </td>
                        <td>
                            @Model.ColorName
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 15%">
                            <label>Kích thước</label>
                        </td>
                        <td>
                            @Model.SizeName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Giá trị</label>
                        </td>
                        <td>
                            @Model.Value
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Giá sản phẩm</label>
                        </td>
                        <td>
                            @Model.PriceNew.Money()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Hiển thị</label>
                        </td>
                        <td>
                            @Grid.DisplayShow(Model.Name, Model.IsShow == true)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-external-link-square"></i>Công thức
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <th>STT</th>
                        <th>Tên SP</th>
                        <th>Số lượng</th>
                        <th>Đơn vị</th>
                        <th>Trạng thái</th>
                    </tr>
                    @foreach (var item in Model.LstRecipeItems)
                    {
                        <tr>
                            <td>@(stt++)</td>
                            <td>@if (item.IsDelete == true)
                                {
                                <strike>@item.ValueName</strike>
                                }
                                else
                                {
                                <span>@item.ValueName</span>
                                }
                            </td>
                            <td>@item.Quantity.Quantity("0:0.######")</td>
                            <td>@item.UnitName</td>
                            <td>
                                @if (item.IsDelete == true)
                                {
                                    <label class="label label-danger">Đã xóa</label>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
</div>
