@using FDI.Utils
@model FDI.Simple.ModelAdvertisingItem
@if (Request["doAction"] == "setting")
{
    <form id="form-modal">
        <div class="modal-body">
            <div class="form-group">
                <select name="value" class="form-control">
                    <option value="">-- Chọn vị trí --</option>
                    @foreach (var item in Model.ListPositionItem)
                    {
                        <option value="@item.ID" @(item.ID == Model.PageId ? "selected" : "")>@item.Name</option>
                    }
                </select>
            </div>
            <div style="display: none;">
                <input id="ctrId" name="ctrId" value="@Request["ctrId"]" />
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
        </div>
    </form>
    <script>
        $(function () {
            $("#form-modal").validate({
                rules: {
                    value: { required: true }
                },
                messages: {
                    value: { required: "Trường bắt buộc nhập!" }
                },
                submitHandler: function () {
                    $.post("/Setting/Setting/SaveSetting?ctrId=@Request["ctrId"]", $("#form-modal").serialize(), function (data) {
                        if (!data.Erros) {
                            window.location.href = window.location.href;
                        }
                    });
                }
            });
        });
    </script>
}
else
{
    <section class="product-banner-statistics">
    @Gallery.ModuleSys(Model.CtrUrl, Model.CtrId)
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="product-banner-carousel slick-row-10">
                    @foreach (var item in Model.ListItem)
                    {
                        <div class="banner-slide-item">
                        <figure class="banner-statistics">
                            <a href="@item.Link">
                                <img src="@(item.PictureUrl.UploadPicture())" alt="@item.Name">
                            </a>
                            <div class="banner-content banner-content_style2">
                                <h5 class="banner-text3"><a href="@item.Link">@item.Name</a></h5>
                            </div>
                        </figure>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
}
