@using FDI.CORE
@model FDI.Simple.ModelTMAppGameItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <thead>
                <tr>
                    <th class="act_roles" style="width: 2%;">
                        <input value="" type="checkbox"/>
                    </th>
                    <th style="width: 55px;" class="text-center">ID</th>
                    <th style="width: 420px;" class="text-center">Tên game/ứng dụng</th>
                    <th style="width: 220px;" class="text-center">Chuyên mục</th>
                    <th style="width: 220px;" class="text-center">Hệ điều hành</th>
                    <th style="width: 120px;" class="text-center">Hình ảnh</th>
                    <th class="text-center"><i class="fa fa-download"></i></th>
                    <th class="text-center"><i class="fa fa-eye"></i></th>
                    <th style="width: 120px;" class="text-center">Ngày tạo</th>
                    <th class="text-center">Người tạo</th>
                    <th class="text-center">Ngày cập nhật</th>
                    <th class="text-center">Người cập nhật</th>
                    <th class="text-center"><a href="#Field=Show">Hiển thị</a></th>
                    <th style="width: 12%;" class="text-center">Thao tác</th>
                </tr>
                </thead>

                @foreach (var item in Model.ListItem)
                {
                    <tr title="@item.ID">
                        <td class="act_roles">
                            <input type="checkbox" value="@item.ID" class="check">
                        </td>
                        <td class="text-center">@item.ID</td>
                        <td>@item.Name</td>
                        <td><b>@string.Join(", ", item.ListTMCategoryAppGame.Select(m=> m.Name))</b></td>
                        <td><b>@string.Join(", ", item.ListTMOperatingSystemAppGameItem.Select(m=> m.OperatingSystemName))</b></td>
                        <td><img src="@item.PictureUrl.Picture()" style="width: 100px; height: 100px;"/></td>
                        <td>@(item.Download > 0 ? item.Download : 0)</td>
                        <td>@(item.Click > 0 ? item.Click : 0)</td>
                        <td>@item.CreateDate.DecimalToString("dd/MM/yyyy HH:ss:mm")</td>
                        <td>@item.UserCreate</td>
                        <td>@item.DateUpdated.DecimalToString("dd/MM/yyyy HH:ss:mm")</td>
                        <td>@item.UserUpdate</td>
                        <td class="text-center">@Grid.ActionShow(item.ID, item.Name, item.IsShow)</td>
                        <td class="text-right">
                            @Grid.ActionView(item.ID, item.Name)
                            @Grid.ActionEdit(item.ID, item.Name)
                            @Grid.ActionDelete(item.ID, item.Name)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>