@using FDI.Web.Controllers

@helper ActionEdit(object id, string title)
{
    if (BaseController.CheckAction("edit"))
    {
        <a href="#@id" class="btn btn-sm btn-default" data-event="edit" title="Chỉnh sửa: @title"><i class="fa fa-pencil-square-o" style="color: #04A827;"></i></a>
    }
}

@helper ActionEdit(object id, string title, string icon = null, bool check = true)
{
    if (BaseController.CheckAction("edit"))
    {
        <a href="#@id" class="@(check ? ("btn btn-sm btn-default") : "")" data-event="edit" title="Chỉnh sửa: @title"><i class="fa @(icon != null ? icon : ("fa fa-pencil"))" style="color: #04A827;"></i></a>
    }
}

@helper ActionProcess(object id, string title, bool check = true)
{
    if (BaseController.CheckAction("edit"))
    {
        <a href="#@id" class="@(check ? ("btn btn-sm btn-default") : "")" data-event="edit" title="xử lý: @title"><i class="fa fa-pencil-square-o" style="color: #04A827;"></i></a>
    }
}

@helper ActionAdd(object id, string title, bool check = true)
{
    if (BaseController.CheckAction("add"))
    {
        <a href="#@id" class="@(check ? ("btn btn-sm btn-default") : "")" data-event="edit" title="Chỉnh sửa: @title"><i class="fa fa-pencil-square-o" style="color: #04A827;"></i></a>
    }
}

@helper ActionEdit(object id, Guid userid, string title, bool check = true)
{
    if (BaseController.CheckAction("edit"))
    {
        var url = id + "&userid=" + userid;
        <a href="#@url" class="@(check ? ("btn btn-sm btn-default") : "")" data-event="edit" title="@title"><i class="fa fa-pencil-square-o" style="color: #04A827;"></i></a>
    }
}

@helper ActionEdit(object id, int month, int year, string title, bool check = true)
{
    if (BaseController.CheckAction("edit"))
    {
        var url = id + "&month=" + month + "&year=" + year;
        <a href="#@url" class="@(check ? ("btn btn-sm btn-default") : "")" data-event="edit" title="@title"><i class="fa fa-pencil-square-o" style="color: #04A827;"></i></a>
    }
}

@helper ActionEdit(object id, IDictionary<string, object> lst, string title, bool check = true)
{
    if (BaseController.CheckAction("edit"))
    {
        var url = id + "";
        foreach (var o in lst)
        {
            url += "&" + o.Key + "=" + o.Value;
        }
        <a href="#@url" class="@(check ? ("btn btn-sm btn-default") : "")" data-event="edit" title="@title"><i class="fa fa-pencil-square-o" style="color: #04A827;"></i></a>
    }
}

@helper ActionOrder(object id)
{
    if (BaseController.CheckAction("order"))
    {
        <a href="#@id" class="btn btn-sm btn-primary" style="margin-right: 5px" data-event="Order" title="Sửa tên có sắp xếp"><i class="fa fa-sort" style="color: #04A827;"></i>Sửa tên có sắp xếp</a>
    }
}
@helper ActionView(object id, string title)
{
    if (BaseController.CheckAction("view"))
    {
        <a href="#@id" class="btn btn-sm btn-default" data-event="view" title="Xem: @title"><i class="fa fa-eye"></i></a>
    }
}
@helper ActionRedirect(string url, string title)
{
    if (BaseController.CheckAction("view"))
    {
        <a href="@url" class="btn btn-sm btn-default" title="Xem: @title"><i class="fa fa-list"></i></a>
    }
}
@helper ActionRedirect(string url, string title, string cssClass)
{
    if (BaseController.CheckAction("view"))
    {
        <a href="@url" class="btn btn-sm btn-default" title="Xem: @title"><i class="@cssClass"></i></a>
    }
}


@helper ActionLock(object id, string title)
{

    <a href="#@id" class="btn btn-sm btn-default" data-event="lock" title="Khóa: @title"><i class="fa fa-lock" style="color: red;"></i></a>

}
@helper ActionUnLock(object id, string title)
{

    <a href="#@id" class="btn btn-sm btn-default" data-event="unlock" title="Mở khóa: @title"><i class="fa fa-unlock" style="color: red;"></i></a>

}
@helper ActionQuickView(int id, string link)
{
    <a href="/@link" class="btn btn-sm btn-default" target="_blank" title="Xen trên web"><i class="fa fa-long-arrow-right text-success"></i></a>
}

@helper ActionDelete(object id, string title, bool? check = false)
{
    if (BaseController.CheckAction("delete") && check != true)
    {
        <a href="#@id" class="btn btn-sm btn-default" data-event="delete" title="Xóa: @title"><i class="fa fa-trash-o" style="color: red;"></i></a>
    }
}

@helper ActionSort(object id, string title)
{
    if (BaseController.CheckAction("soft"))
    {
        <a href="#@id" class="" data-event="sort" title="Sắp xếp: @title"><i class="fa fa-sort"></i></a>
    }
}

@helper ActionAdd(object id, string title)
{
    if (BaseController.CheckAction("add"))
    {
        <a href="#@id" class="" data-event="add" title="Chỉnh sửa: @title"><i class="fa fa-plus" style="color: red;"></i></a>
    }

}

@helper ActionAdd(string url)
{
    if (BaseController.CheckAction("add"))
    {
        <a class="btn btn-sm btn-primary" href="@url" id="btn_add" data-event="add"><span class="fa fa-plus"></span>Thêm mới</a>
    }
}

@helper ActionComment()
{
    if (BaseController.CheckAction("add"))
    {
        <button type="submit" style="width: 100px;" class="btn blue uppercase btn-md sbold btn-block">Gửi</button>
    }
}

@helper ActionAddMenu(string url)
{
    if (BaseController.CheckAction("add"))
    {
        <a class="btn btn-sm btn-primary pull-right" href="@url" id="btnAddMenu" data-event="add"><span class="fa fa-plus"></span>Thêm mới</a>
    }
}

@helper ActionActive(object id, string title, bool? status)
{
    if (BaseController.CheckAction("Active") && status != true)
    {
        <a href="#@id" class="btn btn-sm btn-default" data-event="active" title="Duyệt: @title">
            <i class="fa fa-check-square-o"></i>
        </a>
    }
}
@helper ActionNotActive(object id, string title, bool? status)
{
    if (status != true && BaseController.CheckAction("notActive"))
    {
        <a href="#@id" class="btn btn-sm btn-default" data-event="notActive" title="Hủy duyệt: @title">
            <i class="fa fa-times text-danger"></i>
        </a>
    }
}

@helper ActionShow(object id, string title, bool? isShow)
{
    if (BaseController.CheckAction("show"))
    {
        <a href="#@id" data-event="@(isShow == true ? "hide" : "show")" title="@(isShow == true ? "Ẩn" : "Hiển thị"): @title"><i class="@(isShow == true ? "fa fa-minus-circle text-default" : "fa fa-eye text-success")"></i></a>
    }
}
@helper ActionCheckin(object id, string title, bool? isShow)
{
    if (BaseController.CheckAction("show"))
    {
        <a href="#@id" data-event="show" title="Chấm công: @title"><i class="@(isShow == true ? "fa fa-minus-circle text-default" : "fa fa-eye text-success")"></i></a>
    }
}
@helper DisplayShow(string title, bool? status)
{
    title = string.IsNullOrEmpty(title) ? (status == true ? "Đang đượcc kích hoạt" : "Đang ẩn") : title;
    <i class="@(status == true ? "fa fa-check text-success" : "fa fa-times text-danger tex")" title="@title"></i>
}
@helper DisplayShowStrike(string title, bool isShow)
{
    if (isShow)
    {
        @title
    }
    else
    {
        <strike>@title</strike>
    }
}

@helper RoleModule(object id, string title)
{
    if (BaseController.CheckAction("rolemodule"))
    {
        <a href="#@id" class="btn btn-sm btn-default" data-event="rolemodule" title="Gán role: @title"><i class="fa fa-users"></i></a>
    }
}

@helper RoleModule(string title)
{
    if (BaseController.CheckAction("rolemodule"))
    {
        <a href="#@title" class="btn btn-sm btn-default" data-event="rolemodule" title="Gán role: @title"><i class="fa fa-users"></i></a>
    }
}

@helper UserModule(object id, string title)
{
    if (BaseController.CheckAction("usermodule"))
    {
        <a href="#@id" class="btn btn-sm btn-default" data-event="usermodule" title="@title"><i class="fa fa-clone"></i></a>
    }
}

@helper ActionComplete(object id, string title)
{
    if (BaseController.CheckAction("complete"))
    {
        <a href="#@id" class="" data-event="complete" title="Tính năng Role: @title"><i class="fa fa-eye"></i></a>
    }
}