@using FDI.CORE
@model FDI.Base.WalletCustomer
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".select2-drop").select2({
            width: '100%',
            maximumSelectionLeng: 1,
        });
        $("#CustomerForm").validate({
            rules: {
                TotalPrice:
                {
                    required: true
                },
                CustomerID: {
                    required: true
                }
            },
            messages: {
                TotalPrice:
                {
                    required: "Xin mời nhập số tiền nạp.",
                },
                
            },
            submitHandler: function () { //onSubmit
                btnDisabled("#btnSave");
                $('.maskPrice').each(function (i) {
                    $(this).val($(this).val().replace(/\,/g, ''));
                });
                $.post("/WalletCustomer/Actions", $("#CustomerForm").serialize(), function (data) {
                    
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").modal('hide'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, ""); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });
    });
</script>
<form id="CustomerForm">
    <div class="modal-body">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action" />
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID" />
        <input type="hidden" name="AgencyId" id="AgencyId" value="@(Model.AgencyId??ViewBag.AgencyId)" />
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>Thông tin khách hàng nạp tiền
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Khách hàng<font color="red">(*)</font></label>
                            <div class="col-sm-4">
                                <input type="text" name="CustomerAuto" id="CustomerAuto" class="form-control" value=""/>
                                <input type="text" name="CustomerName" id="CustomerName" class="form-control" value=""/>
                                <input type="hidden" name="CustomerID" id="CustomerID" class="form-control" value=""/>
                            </div>
                            <label class="col-sm-2 control-label">Số tiền</label>
                            <div class="col-sm-4">
                                <input type="text" name="TotalPrice" id="TotalPrice" class="form-control maskPrice" value="@Model.TotalPrice"/>
                            </div>                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary" id="btnSave">Cập nhật</button>
        <button type="button" class="btn btn-sm btn-primary" id="btn_Print">In hóa đơn</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
    </div>
</form>
<script>
    $(document).ready(function() {
        $('#CustomerAuto').autocomplete({
            serviceUrl: "/Sales/AutoCustomer",
            minChars: 1,
            delimiter: /(;)\s*/,
            maxHeight: 400,
            onSelect: function (el) {
                $('#CustomerName').val(el.title);
                $('#CustomerID').val(el.ID);
                $('.NameAddMoney').html(el.title);
                $('.addresscus').html(el.code);
            }
        });
    });
</script>
<script src="~/Content/Admin/js/jQuery.print.js"></script>
<script src="~/Content/Admin/js/numeral.min.js"></script>
<div id="BoxPrint" style="display: none;">
    <page size="A4">
        <div class="pt-box-wrap">
            <div class="pt-box">
                <div class="pt-head">
                    <div class="left">
                        <ul>
                            <li><strong>Đơn vị:</strong><span></span></li>
                            <li><strong>Địa chỉ:</strong><span></span></li>
                        </ul>
                    </div>
                    <div class="right">
                        <strong>Mẫu số 01 - TT</strong>
                        <span>
                            (Ban hành theo Thông tư số 200/2014/TT-BTC
                            Ngày 22/12/2014 của Bộ Tài chính)
                        </span>
                    </div>
                </div>
                <div class="pt-name">
                    <div class="left">
                        <h3>Phiếu Thu</h3>
                        <i> Ngày <i>@DateTime.Now.Day</i> Tháng <i>@DateTime.Now.Month</i> Năm <i>@DateTime.Now.Year</i></i>
                    </div>
                    <div class="right">
                        <ul>
                            <li><b>Mã phiếu:</b><span>@DateTime.Now.TotalSeconds()</span></li>
                            <li><b>Quyển số:</b><span></span></li>

                        </ul>
                    </div>
                </div>
                <div class="pt-detail">
                    <ul>
                        <li><b>Họ và tên người nạp:</b><span class="NameAddMoney"></span></li>
                        <li><b>Địa chỉ: <i class="addresscus"></i></b></li>
                        <li><b>Lý do nộp:</b><span>Nạp ví tiền</span></li>
                        <li><b>Số tiền:</b><strong class="PriceAdd"></strong></li>
                        <li><b>Viết bằng (chữ):</b><i class="MoneytoWord"></i></li>
                        <li><b>Kèm theo:</b></li>
                        <li><b>Chứng từ gốc:</b></li>
                    </ul>
                </div>
                <div class="pt-date"> <i> Ngày <i>@DateTime.Now.Day</i> Tháng <i>@DateTime.Now.Month</i> Năm <i>@DateTime.Now.Year</i></i>
                </div>
                <div class="pt-sign item-sign-5">
                    <div class="pt-item-sign">
                        <strong>Giám đốc</strong>
                        <i>(Ký, họ tên, đóng dấu)</i>
                        <div class="pt-wirte-sign"></div>
                    </div>
                    <div class="pt-item-sign">
                        <strong>Kế toán trưởng</strong>
                        <i>(Ký, họ tên)</i>
                        <div class="pt-wirte-sign"></div>
                    </div>
                    <div class="pt-item-sign">
                        <strong>Người nộp tiền</strong>
                        <i>(Ký, họ tên)</i>
                        <div class="pt-wirte-sign"></div>
                    </div>
                    <div class="pt-item-sign">
                        <strong>Người lập phiếu</strong>
                        <i>(Ký, họ tên)</i>
                        <div class="pt-wirte-sign">

                        </div>
                        <span></span>
                    </div>
                    <div class="pt-item-sign">
                        <strong>Thủ quỹ</strong>
                        <i>(Ký, họ tên)</i>
                        <div class="pt-wirte-sign"></div>
                    </div>
                </div>
             
            </div>
        </div>
        <div class="pt-box-wrap">
            <div class="pt-box">
                <div class="pt-head">
                    <div class="left">
                        <ul>
                            <li><strong>Đơn vị:</strong><span></span></li>
                            <li><strong>Địa chỉ:</strong><span></span></li>
                        </ul>
                    </div>
                    <div class="right">
                        <strong>Mẫu số 01 - TT</strong>
                        <span>
                            (Ban hành theo Thông tư số 200/2014/TT-BTC
                            Ngày 22/12/2014 của Bộ Tài chính)
                        </span>
                    </div>
                </div>
                <div class="pt-name">
                    <div class="left">
                        <h3>Phiếu Thu</h3>
                        <i> Ngày <i>@DateTime.Now.Day</i> Tháng <i>@DateTime.Now.Month</i> Năm <i>@DateTime.Now.Year</i></i>
                    </div>
                    <div class="right">
                        <ul>
                            <li><b>Mã phiếu:</b><span>@DateTime.Now.TotalSeconds()</span></li>
                            <li><b>Quyển số:</b><span></span></li>

                        </ul>
                    </div>
                </div>
                <div class="pt-detail">
                    <ul>
                        <li><b>Họ và tên người nạp:</b><span class="NameAddMoney"></span></li>
                        <li><b>Địa chỉ: <i class="addresscus"></i></b></li>
                        <li><b>Lý do nộp:</b><span>Nạp ví tiền</span></li>
                        <li><b>Số tiền:</b><strong class="PriceAdd"></strong></li>
                        <li><b>Viết bằng (chữ):</b><i class="MoneytoWord"></i></li>
                        <li><b>Kèm theo:</b></li>
                        <li><b>Chứng từ gốc:</b></li>
                    </ul>
                </div>
                <div class="pt-date"> <i> Ngày <i>@DateTime.Now.Day</i> Tháng <i>@DateTime.Now.Month</i> Năm <i>@DateTime.Now.Year</i></i>
                </div>
                <div class="pt-sign item-sign-5">
                    <div class="pt-item-sign">
                        <strong>Giám đốc</strong>
                        <i>(Ký, họ tên, đóng dấu)</i>
                        <div class="pt-wirte-sign"></div>
                    </div>
                    <div class="pt-item-sign">
                        <strong>Kế toán trưởng</strong>
                        <i>(Ký, họ tên)</i>
                        <div class="pt-wirte-sign"></div>
                    </div>
                    <div class="pt-item-sign">
                        <strong>Người nộp tiền</strong>
                        <i>(Ký, họ tên)</i>
                        <div class="pt-wirte-sign"></div>
                    </div>
                    <div class="pt-item-sign">
                        <strong>Người lập phiếu</strong>
                        <i>(Ký, họ tên)</i>
                        <div class="pt-wirte-sign">

                        </div>
                        <span></span>
                    </div>
                    <div class="pt-item-sign">
                        <strong>Thủ quỹ</strong>
                        <i>(Ký, họ tên)</i>
                        <div class="pt-wirte-sign"></div>
                    </div>
                </div>
             
            </div>
        </div>
    </page>
</div>
<script>
    $(function () {
        $("#btn_Print").click(function () {
            debugger;
            var price = $("#TotalPrice").val();
            $(".PriceAdd").html(price);
            price = price.replace(/\,/g, '');
            $(".MoneytoWord").html(DocTienBangChu(price));
            $("#printNode").html("Ghi chú: " + $("#Note").val());
            $('#printTime').html($("#DateOfSale_").val());
            $('#BoxPrint').show();
            jQuery.print('#BoxPrint');
            $('#BoxPrint').hide();
        });
    })
</script>