@model FDI.Simple.ModelDiscountItem
@using FDI.CORE
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <colgroup>
                    <col class="colgroup check" />
                    <col class="colgroup indentity" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col class="colgroup action" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" type="checkbox" class="checkAll" />
                        </th>
                        <th><a href="#Field=ID">ID</a></th>
                        <th><a href="#Field=Name">(%)</a></th>
                        <th><a href="#Field=Name">Giá từ</a></th>
                        <th><a href="#Field=Name">Đến giá</a></th>
                        <th><a href="#Field=Name">Từ ngày</a></th>
                        <th><a href="#Field=Name">Đến ngày</a></th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListItem)
                    {
                        <tr data-id="@item.ID" title="@item.Percent">
                            <td class="act_roles">
                                <input type="checkbox" value="@item.ID" class="check">
                            </td>
                            <td>@item.ID</td>
                            <td>@item.Percent.Quantity()</td>
                            <td>@item.PriceS.Money()</td>
                            <td>@item.PriceE.Money()</td>
                            <td>@item.DateStart.DecimalToString("dd/MM/yyyy")</td>
                            <td>@item.DateEnd.DecimalToString("dd/MM/yyyy")</td>
                            <td class="text-right">
                                @Grid.ActionEdit(item.ID, "")
                                @Grid.ActionDelete(item.ID, "")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>
