@model FDI.Simple.ModelDNRolesItem
@{
    ViewBag.Title = ViewBag.ActionText + " Quản lý nhân viên";
    Layout = "~/Views/Shared/_Ajax.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#RoleModuleForm").validate({
            submitHandler: function () { //onSubmit
                $.post(urlPostAction, $("#RoleModuleForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").modal('hide'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });
        $("#close").click(function () {
            $("#dialog-form").modal('hide');
        });

    });
</script>
<form id="RoleModuleForm">
    <div class="modal-body">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.Item.RoleId"/>
        <input type="hidden" name="NameRole" id="NameRole" value="@Model.Item.RoleName"/>
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gear"></i>Gán tính năng
                </div>
            </div>
            <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div id="mygird">
                            <div class="box-control" style="width: 97%">
                              
                                    <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                                        <thead>
                                            <tr>
                                                <th>Tên Module</th>
                                                @foreach (var item1 in Model.ActiveRoleItems)
                                                {
                                                    <th>@item1.NameActive</th>
                                                }
                                            </tr>
                                        </thead>

                                        @foreach (var item2 in Model.Item.ModeItems)
                                        {
                                            <tr id ="line-@item2.ID">
                                                <td>@item2.NameModule</td>
                                                @foreach (var item in Model.ActiveRoleItems)
                                                {
                                                    var check = Model.Item.ActiveRoles.Any(m => m.ID == item.ID);
                                                    <td>
                                                        @if (check)
                                                        {
                                                          var check1 = Model.Item.RoleModuleActiveItems.FirstOrDefault(m => m.ModuleId == item2.ID && m.ActiveRoleId == item.ID);
                                                            if (check1 != null)
                                                            {
                                                                <input type="checkbox" class="chkActiveRoles" name="chkActiveRoles" value="@check1.ID" @( check1.Active == true ? "checked" : "")/>
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="chkActiveRoles" name="chkActiveRoles" id="@item2.ID" value="@item.ID"/>
                                                            }
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-primary">Cập nhật</button>
        <button id="btnReset" type="reset" name="reset" class="btn btn-sm btn-primary">Nhập lại</button>
        <button id="close" type="button" class="btn btn-sm btn-primary">Đóng lại</button>
    </div>
</form>
