@using FDI.CORE
@model FDI.Simple.ModelDNRolesItem
@{
    ViewBag.Title = "ListCity";
    Layout = "~/Views/Shared/_Ajax.cshtml";
    var index = 0;
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" type="checkbox" /></th>
                        <th class="text-center"><a href="#Field=ID">STT</a></th>
                        <th class="text-center">Tên phòng ban</th>
                        <th class="text-center">Mô tả phòng ban</th>
                        <th class="text-center">Tầng</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                @foreach (var item in Model.ListItem)
                {
                    index = index + 1;
                    <tr title="@item.RoleName">
                        <td class="act_roles">
                            <input type="checkbox" value="@item.RoleId" class="check"></td>
                        <td>@index</td>
                        <td>@item.RoleName</td>
                        <td>@item.Description</td>
                        <td>@item.LoweredRoleName</td>
                        <td class="text-right" style="width: 12%">
                            @Grid.ActionView(item.RoleId, item.RoleName)
                            @Grid.UserModule(item.RoleId, item.RoleName)
                             @*@Grid.ActionView(item.RoleId, item.RoleName)*@
                            @Grid.ActionComplete(item.RoleId, item.RoleName)
                            @Grid.RoleModule(item.RoleId, item.RoleName)
                            @Grid.ActionEdit(item.RoleId, item.RoleName)
                            @Grid.ActionDelete(item.RoleId, item.RoleName)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {  
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
        $(".maskPrice").mask('000,000,000', { reverse: true });
    });
</script>
