@model FDI.Simple.ModelAdvertisingPositionItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" type="checkbox" />
                        </th>
                        <th>ID</th>
                        <th>Tên</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListItem != null)
                    {
                        foreach (var item in Model.ListItem)
                        {
                        <tr data-id="@item.ID">
                            <td class="act_roles">
                                <input type="checkbox" value="@item.ID" class="check">
                            </td>
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td class="text-right" style="width: 12%">
                                @Grid.ActionView(item.ID, item.Name)
                                @Grid.ActionEdit(item.ID, item.Name)
                                @Grid.ActionDelete(item.ID, item.Name)
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>
