@model FDI.Base.System_Config
@{
    ViewBag.Title = ViewBag.ActionText + " Cấu hình";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#SystemConfigForm").validate({
            rules: {
                Name:
                    {
                        required: true,
                        minlength: 3,
                        maxlength: 100
                    },
                Email:
                    {
                        required: true,
                        minlength: 3,
                        email: true,
                    },
                Email1:
                    {

                        minlength: 3,
                        email: true,
                    },
                Phone:
                    {
                        required: true
                    },
                PhoneAdvice:
                    {
                        minlength: 3
                    },
                PhoneAdvice1:
                    {
                        minlength: 3

                    },
                PhoneAdvice2:
                    {
                        minlength: 3

                    }
            },
            submitHandler: function () { //onSubmit
                $.post(urlPostAction, $("#SystemConfigForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").modal('hide'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });
    });
</script>
<style>
    #Address {
        display: block !important;
    }
</style>

<form id="SystemConfigForm">
    <div class="modal-body">
    <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
    <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID"/>
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gear"></i>Thông tin về cấu hình
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tên công ty</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="..." name="Name" @(ViewBag.Action.ToString().Equals("Add") ? "class=autoPermalink" : "") id="Name" value="@Model.Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" name="Email" id="Email" value="@Model.Email" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Hotline 1</label>
                        <div class="col-sm-10">
                            <input type="text" name="PhoneAdvice" id="PhoneAdvice" value="@Model.PhoneAdvice" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Hotline 2</label>
                        <div class="col-sm-10">
                            <input type="text" name="PhoneAdvice1" id="PhoneAdvice1" value="@Model.PhoneAdvice1" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Hotline 3</label>
                        <div class="col-sm-10">
                            <input type="text" name="PhoneAdvice2" id="PhoneAdvice2" value="@Model.PhoneAdvice2" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Hotline Mobile</label>
                        <div class="col-sm-10">
                            <input type="text" name="PhoneMobile" id="PhoneMobile" value="@Model.PhoneMobile" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Số điện thoại</label>
                        <div class="col-sm-10">
                            <input type="text" name="Phone" id="Phone" value="@Model.Phone" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Website</label>
                        <div class="col-sm-10">
                            <input type="text" name="Website" id="Website" value="@Model.Website" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Số Fax</label>
                        <div class="col-sm-10">
                            <input type="text" name="Fax" id="Fax" value="@Model.Fax" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vĩ độ</label>
                        <div class="col-sm-2">
                            <input type="text" name="Latitude" id="Latitude" value="@Model.Latitude" class="form-control" />
                        </div>
                        <label class="col-sm-2 control-label">Kinh độ</label>
                        <div class="col-sm-2">
                            <input type="text" name="Longitude" id="Longitude" value="@Model.Longitude" class="form-control" />
                        </div>
                        <div class="col-sm-4">
                            <a href="http://www.latlong.net/" target="_blank"><b style="line-height: 35px; color: #0000ff; font-style: italic;">Tham khảo lấy Vĩ độ, Kinh độ</b></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Giấy phép kinh doanh</label>
                        <div class="col-sm-10">
                            <input type="text" name="BusinessLicence" id="BusinessLicence" value="@Model.BusinessLicence" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mã nhũng google maps</label>
                        <div class="col-sm-10">
                            <input type="text" name="Embedmaps" id="Embedmaps" value="@Model.Embedmaps" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Địa chỉ</label>
                        <div class="col-sm-10">
                            <textarea rows="8" id="Address" name="Address" class="form-control">@Model.Address</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email gửi</label>
                        <div class="col-sm-10">
                            <input type="text" name="EmailSend" id="EmailSend" value="@Model.EmailSend" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mật khẩu email gửi</label>
                        <div class="col-sm-10">
                            <input type="password" name="EmailSendPwd" id="EmailSendPwd" value="@Model.EmailSendPwd" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email nhận</label>
                        <div class="col-sm-10">
                            <input name="EmailReceive" id="EmailReceive" value="@Model.EmailReceive" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox col-md-6">
                                <label>
                                    @Html.CheckBox("IsShow") Hiện thị
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-primary">@ViewBag.ActionText</button>
        <button id="btnReset" type="reset" name="reset" class="btn btn-sm btn-primary">Nhập lại</button>
        <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Đóng</button>
    </div>
</form>
