@using FDI.CORE
@model FDI.Simple.StorageProductItem
@{

    Layout = "~/Views/Shared/_Ajax.cshtml";
    var stt = 1;
}

<div class="modal-body">
    <div id="PrintContent" class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-newspaper-o"></i>Thông tin về phiếu nhập
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <td style="width: 15%">
                            <label>Mã phiếu</label>
                        </td>
                        <td>
                            @Model.Code
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Người nhập</label>
                        </td>
                        <td>
                            @Model.UserName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Ngày tạo</label>
                        </td>
                        <td>
                            @Model.DateCreated.DecimalToString("dd/MM/yyyy")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Ngày nhập</label>
                        </td>
                        <td>
                            @Model.DateImport.DecimalToString("dd/MM/yyyy")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Tổng tiền</label>
                        </td>
                        <td>
                            @string.Format("{0:0,0}", Model.TotalPrice)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Ghi chú</label>
                        </td>
                        <td>
                            @Model.Note
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-external-link-square"></i>Danh sách sản phẩm nhập kho
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <th>STT</th>
                        <th>Mã SP</th>
                        <th>Tên SP</th>
                        <th>Số lượng</th>
                        <th>Giá nhập</th>
                        <th>Thành tiền</th>
                        <th>Trạng thái</th>
                    </tr>
                    @foreach (var item in Model.LstImport)
                    {
                        <tr>
                            <td>@(stt++)</td>
                            <td>@item.Code</td>
                            <td>
                                @if (item.IsDelete == true)
                                {
                                    <strike>@item.Name</strike>
                                }
                                else
                                {
                                    <span>@item.Name</span>
                                }
                            </td>
                            <td>@string.Format("{0:0}", item.Value)</td>
                            <td>@string.Format("{0:0,0}", item.Price)</td>
                            <td>@string.Format("{0:0,0}", item.Price * item.Quantity)</td>
                            <td>
                                @if (item.IsDelete == true)
                                {
                                    <label class="label label-danger">Đã xóa</label>
                                }
                                else
                                {
                                    <label class="label label-success">Hoàn thành</label>
                                }
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        
        @if (Model.LstExport != null && Model.LstExport.Any())
        {
            <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-external-link-square"></i>Danh sách nguyên liệu xuất kho
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <th>STT</th>
                        <th>Mã NL</th>
                        <th>Tên NL</th>
                        <th>Số lượng</th>
                        <th>Giá nhập</th>
                        <th>Thành tiền</th>
                        <th>Sản phẩm</th>
                        <th>Trạng thái</th>
                    </tr>
                    @foreach (var item in Model.LstExport)
                    {
                        <tr>
                            <td>@(stt++)</td>
                            <td>@item.Code</td>
                            <td>
                                @if (item.IsDelete == true)
                                {
                                    <strike>@item.ValueName</strike>
                                }
                                else
                                {
                                    <span>@item.ValueName</span>
                                }
                            </td>
                            <td>@string.Format("{0:0}", item.Quantity)</td>
                            <td>@string.Format("{0:0,0}", item.Price)</td>
                            <td>@string.Format("{0:0,0}", item.Price * item.Quantity)</td>
                            <td>@item.ProductName</td>
                            <td>
                                @if (item.IsDelete == true)
                                {
                                    <label class="label label-danger">Đã xóa</label>
                                }
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        }
    </div>
</div>
<div class="modal-footer">
    <button type="button" onclick="printDiv('PrintContent')" class="btn btn-primary btn-sm">In phiếu</button>
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
</div>
