@using FDI.CORE
@model FDI.Simple.BannerItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
    var stt = 1;
}

<script type="text/javascript">
    $(document).ready(function () {
        registerGallery();
        LoadCKEDITOR('Details', true);
        LoadCKEDITOR('Description', true);
        callSelect2("#UnitID", "100%");
        $("#modalForm").validate({
            rules: {
                Name: { required: true },
                Code: {
                    required: true,
                    remote: "@Url.Action("CheckByCodeDetail", "ProductDetail", new { pId = Model.ID })"
                },
                PriceNew: { required: true },
                UnitID: { required: true },
                CateID :{ required: true },
            },
            messages: {
                Name: "Mời bạn nhập tên sản phẩm",
                Code: {
                    required: "Mời bạn nhập mã sản phẩm (SKU).",
                    remote: "Mã sản phẩm (SKU) này đã tồn tại, Xin mời nhập mã khác."
                },
                PriceNew: "Mời bạn nhập giá sản phẩm.",
                UnitID: { required: "Trường này bắt buộc" },
                CateID: { required: "Trường này bắt buộc" }
            },
            submitHandler: function () { //onSubmit
                updateEditor();
                $('.maskPrice').each(function (i) {
                    $(this).val($(this).val().replace(/\,/g, ''));
                });
                PostAction("#modalForm");
            }
        });
      
       
    });
</script>
<form id="modalForm">
    <div class="modal-body">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action" />
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID" />
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gear"></i>Thông tin về sản phẩm
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tên banner</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="..." name="Name" id="Name" value="@Model.Name" />
                            </div>
                            <label class="col-sm-2 control-label">View</label>
                            <div class="col-sm-4">
                                <input type="text" name="UrlView" id="UrlView" value="@Model.UrlView" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Id Category</label>
                            <div class="col-sm-4">
                              
                                <textarea type="text" class="form-control" placeholder="..." name="Datas" id="Datas"> @Model.Datas</textarea>
                            </div>
                            <label class="col-sm-2 control-label">Thứ tự</label>
                            <div class="col-sm-4">
                                <input type="text" name="Sort" id="Sort" value="@Model.Sort" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ảnh đại diện</label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-sm btn-primary" id="Button_DefaultImages" data-type="gallery" data-type-value="2" data-multi="false" data-container="DefaultImages" data-value="Value_DefaultImages"><span class="fa fa-picture-o"></span>Chọn ảnh đại diện</button>
                                <label id="errorPicture" class="error" style="display: none">Chưa chọn hình ảnh.</label>
                                <input type="hidden" name="PictureID" id="Value_DefaultImages" value="@Model.PictureID" data-multi="false" />
                                <div id="Text_DefaultImages">
                                    <div class="gridView list-images-popup">
                                        @if (Model.PictureID > 0)
                                        {
                                            <div class="image-product" id="@Model.PictureID">
                                                <div class="image">
                                                    @Gallery.DisplayImage(Model.PictureUrl, 120)
                                                    <div class="option">
                                                        <button type="button" class="btn red deleteImg" data-id="@Model.PictureID" data-ctn="DefaultImages"><i class="fa fa-trash-o"></i></button>
                                                    </div>
                                                </div>
                                                <span>@Model.PictureUrl</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mô tả</label>
                            <div class="col-sm-10">
                                <textarea cols="5" name="Description" id="Description" class="form-control ">@Model.Description</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Chi tiết</label>
                            <div class="col-sm-10">
                                <textarea cols="5" name="Details" id="Details" class="form-control ">@Model.Details</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-primary">@ViewBag.ActionText</button>
        <button id="close" type="button" class="btn btn-sm btn-primary">Đóng lại</button>
    </div>
</form>