@model FDI.Simple.ModelColorItem
@{
    ViewBag.Title = "ListColor";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" type="checkbox" />
                        </th>
                        <th><a href="#Field=ID">ID<span /></a></th>
                        <th><a href="#Field=Name">Tên màu sắc<span /></a></th>
                        <th>Màu</th>
                        <th>Mô tả</th>
                        <th>Hiện thị</th>
                        <th></th>
                        <th colspan="2" style="width: 9%;">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.ListItem)
                {
                    <tr title="@item.Name">
                        <td class="act_roles">
                            <input type="checkbox" value="@item.ID" class="check">
                        </td>
                        <td>@item.ID</td>
                        <td>@Grid.DisplayShowStrike(item.Name, item.IsShow)</td>
                        <td style="background: @(item.Value) !important">&nbsp;</td>
                        <td>@item.Description</td>
                        <td>

                            @Grid.ActionShow(item.ID, item.Name, item.IsShow)

                        </td>
                        <td></td>
                        <td class="btn-group">
                            @Grid.ActionEdit(item.ID, item.Name)
                            @Grid.ActionDelete(item.ID, item.Name)

                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');        
    });
</script>