@model FDI.Simple.AddMinuteItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(function () {
        registerGallery();
        $("#modalForm").validate({
            rules: {
                Name:
                {
                    required: true,
                    minlength: 3
                },
            },
            messages: {
                Name:
                {
                    required: "Trường bắt buộc nhập.",
                    minlength: "Tên quá ngắn",
                }
            },
            submitHandler: function () {
                $('.maskPrice').each(function (i) {
                    $(this).val($(this).val().replace(/\,/g, ''));
                });
                PostAction("#modalForm");
            }
        });

    });
</script>
<form id="modalForm">
    <div class="modal-body">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action" />
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID" />
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-picture-o"></i>Thông tin
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Tên</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Tên hình ảnh..." name="Name"  id="Name" value="@Model.Name" />
                            </div>
                        </div>
                       <div class="form-group">
                            <label class="col-md-2 control-label">Phút</label>
                            <div class="col-md-10">
                                <input type="text" name="Minute" id="Minute" value="@Model.Minute" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Giá</label>
                            <div class="col-md-10">
                                <input type="text" name="Price" id="Price" value="@Model.Price" class="form-control maskPrice" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Kiểu</label>
                            <div class="col-md-10">
                                <select name="Type" id="Type" class="form-control">
                                    <option value="1" @((Model.Type == 1) ? " selected" : string.Empty)>Thêm phút chờ</option>
                                    <option value="2" @((Model.Type == 2) ? " selected" : string.Empty)>Mua Thêm</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox col-md-6">
                                    <label>
                                        @Html.CheckBox("IsShow") Hiện thị
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-success">Cập nhật</button>
        <button id="btnReset" type="reset" name="reset" class="btn btn-sm btn-success">Nhập lại</button>
         <button id="close" type="button" class="btn btn-sm btn-primary">Đóng lại</button>
    </div>
</form>

