@using FDI
@using FDI.Simple
@using FDI.Utils
@model SysPageItem
@{
    Layout = string.Format("~/Views/Shared/{0}.cshtml", Model.Layout);
    var lst = Model.LstModeItems.GroupBy(c => c.Section).Select(c => c.Key).ToList();
    var admin = User.Identity.IsAuthenticated && User.IsInRole("Admin");
}
@section metas{
    @if (Model != null)
    {
        if (Model.Page == null || Model.Page == 0)
        {
            <title>@(Model.SeoTitle ?? "")</title>
            <meta name="author" content="@(Model.SeoTitle ?? "")" />
            <meta property="og:site_name" content="@(Model.SeoTitle ?? "")" />
            <meta property="og:title" content="@Model.SeoTitle" />
            <meta name="copyright" content="@(Model.SeoTitle ?? "")" />
        }
        else
        {
            <title>@Model.SeoTitle | Trang @Model.Page</title>
            <meta name="author" content="@Model.SeoTitle | Trang @Model.Page" />
            <meta property="og:site_name" content="@Model.SeoTitle | Trang @Model.Page" />
            <meta property="og:title" content="@Model.SeoTitle | Trang @Model.Page" />
            <meta name="copyright" content="@Model.SeoTitle | Trang @Model.Page" />
        }
        <meta name="description" content="@(Model.SeoDescription ?? "")" />
        <meta name="keywords" content="@(Model.SeoKeyword ?? "")" />
        <meta property="og:image" content="" />
        <meta property="og:keywords" content="@Model.SeoKeyword" />
        <meta property="og:description" content="@Model.SeoDescription" />
        <meta property="og:url" content="@Request.Url" />
        <meta property="og:type" content="website" />
    }
}
@section MenuAdmin{
    @if (admin)
    {
        <script src="/Content/Publishing/js/vendors.min.js"></script>
        @Html.Partial("~/Areas/Setting/Views/Modules/SysModule.cshtml", Model.Layout)
        @Html.Partial("~/Views/Shared/Popup.cshtml")
        <script src="/Areas/Setting/Content/js/util.js"></script>
        <script src="/Areas/Setting/Content/js/modal.js"></script>
        <script src="/Areas/Setting/Content/js/module.js"></script>
        <script type="text/javascript">
            pageId = "@Model.ID";
            layoutName = "@Model.Layout";
            var sessionValue = @(Session["editPage"] ?? 0);
            if (sessionValue === 1) {
                $('body').addClass("mode-edit-page");
                $('body').removeClass("mode-view-page");
            } else {
                $('body').addClass("mode-view-page");
                $('body').removeClass("mode-edit-page");
            }
            $(function() {
                ModuleSetting("");
            });
        </script>
        <link rel="stylesheet" href="/Areas/Setting/Content/css/_setting_module.min.css" type="text/css" />

    }
}
@if (Model.Key == "home")
{
    <h1 style="color: transparent; font-size: 0px;"></h1>
}
else
{
    <h1 style="color: transparent; font-size: 0px;">@(Model.SeoTitle ?? "")</h1>
}

@{
    var lstLayoutNews = Config.GetSectsion(Model.Layout);
    var lstSection = lstLayoutNews.Intersect(lst).ToList();
    foreach (var item in lstSection)
    {
        var lstModule = Model.LstModeItems.Where(c => c.Section == item).OrderBy(c => c.Sort).ToList();
        DefineSection(item, () =>
            Write(@Html.Action("ReWrite", "Modules", new { Area = "Setting", model = lstModule })));
    }
}
@section Vendors{
    @if (!admin)
    {
        <script src="/Content/Publishing/js/vendors.min.js"></script>
    }

    <script type="text/javascript" src="~/Content/Publishing/Organik/js/jquery-migrate.min.js"></script>
    <script src="~/Content/Publishing/Organik/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/Content/Publishing/Organik/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/jquery.isotope.init.js"></script>
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/script.js"></script>
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/extensions/revolution.extension.parallax.min.js"></script>
    @*<script src="/Content/Admin/js/GridView.js" type="text/javascript"></script>
    <link href="/Content/Admin/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" />

    <script src="/Content/Admin/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
    <script src="/Content/Admin/js/CarMarket.js" type="text/javascript"></script>
    <script src="/Content/Admin/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="/Content/Admin/plugins/ui-toastr.min.js" type="text/javascript"></script>*@
    @*<script src="/Content/Publishing/js/plugins.js"></script>*@
    @*<script src="/Content/Publishing/js/jquery.magnific.min.js"></script>*@
    @*<script src="~/Content/Publishing/js/numeral.min.js"></script>*@
    @*<script src="/Content/Publishing/js/customs.js"></script>*@

    @*<script src="/Content/Admin/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
    <link href="/Content/Admin/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />*@
    <script src="/Content/Publishing/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <!-- jQuery JS -->
    <!-- Popper JS -->
    @*<script src="/Content/Publishing/assets/js/vendor/popper.min.js"></script>*@
    <!-- Bootstrap JS -->
    <!-- slick Slider JS -->
    <!--<script src="/Content/Publishing/assets/js/plugins/slick.min.js"></script>-->
    <!-- Countdown JS -->
    <script src="/Content/Publishing/assets/js/plugins/countdown.min.js"></script>
    <!-- jquery UI JS -->
    <script src="/Content/Publishing/assets/js/plugins/jqueryui.min.js"></script>
    <!-- Image zoom JS -->
    <!-- Imagesloaded JS -->
    <script type="text/javascript" src="~/Content/Publishing/Organik/js/imagesloaded.pkgd.min.js"></script>

    <!-- Main JS -->
    <script>

    </script>
}
@Html.Partial("~/Views/Shared/_Meta.cshtml")