@using FDI.Utils
@model FDI.Simple.ModelNewsItem
@{
    var pageId = WebConfig.NewDetail;
    var NewsId = WebConfig.NewsId;
}
@if (Request["doAction"] == "setting")
{
    <form id="form-modal">
        <div class="modal-body">
            <div class="form-group">
                <select name="value" class="form-control">
                    <option value="">-- Chọn nhóm menu --</option>
                    @foreach (var item in Model.LstCategoryItems)
                    {
                        <option value="@item.ID" @(item.ID == Model.PageId ? "selected" : "")>@item.Name</option>
                    }
                </select>
            </div>
            <div style="display: none;">
                <input id="ctrId" name="ctrId" value="@Request["ctrId"]" />
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
        </div>
    </form>
    <script>
        $(function () {
            $("#form-modal").validate({
                rules: {
                    value: { required: true }
                },
                messages: {
                    value: { required: "Trường bắt buộc nhập!" }
                },
                submitHandler: function () {
                    $.post("/Setting/Setting/SaveSetting?ctrId=@Request["ctrId"]", $("#form-modal").serialize(), function (data) {
                        if (!data.Erros) {
                            window.location.reload();
                        }
                    });
                }
            });
        });
    </script>
}
else
{
    <div class="sidebar__box">
     @Gallery.ModuleSys(Model.CtrUrl, Model.CtrId)
    <div class="sidebar__title">
        <a href="/@(Model.CategoryItem.Slug)-p@(NewsId)c@(Model.CategoryItem.ID)">
            <h3>@Model.CategoryItem.Name</h3>
        </a>
    </div>
    <div class="sidebar__content">
        <div class="sidebar__list">
            @if (Model.CategoryItem.ListNewsItem.Any())
            {
                foreach (var iten in Model.CategoryItem.ListNewsItem)
                {
                    <a class="item item-ef" href="/@(iten.TitleAscii)-p@(pageId)c@(iten.ID)" title="@iten.Title">
                        <div class="img">
                            <img class="img-responsive" alt="@iten.Title" src="@(iten.PictureUrl.UploadPicture())"><span class="roll tie-news"></span>
                        </div>
                        <div class="detail">
                            <h3>@iten.Title</h3>
                            <p>@iten.Description</p>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</div>
}


