@model FDI.Simple.ModelActiveRoleItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}

<div id="mygird">
    <div class="box-control">
        <div id="gridItems" class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <colgroup>
                    <col style="width: 3%" />
                    <col style="width: 7%" />
                    <col style="width: 50%" />
                    <col style="width: 20%" />
                    <col style="width: 20%" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="act_roles text-center">
                            <input type="checkbox" class="check" value="1">
                        </th>
                        <th>ID</th>
                        <th>Tên tính năng</th>
                        <th>Thứ tự<span /></th>
                        <th class="text-right">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListItem)
                    {
                        <tr title="@item.ID @item.NameActive">
                            <td class="act_roles text-center">
                                <input type="checkbox" class="check" value="@item.ID">
                            </td>
                            <td>@item.ID</td>
                            <td>@item.NameActive</td>
                            <td>@item.Ord</td>
                            <td class="text-right">
                                @Grid.ActionEdit(item.ID, item.NameActive)
                                @Grid.ActionDelete(item.ID, item.NameActive)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-control">
        @Html.Raw(Model.PageHtml)
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>
