@using FDI.Utils
@model FDI.Simple.ModelCategoryItem
@{
    var pageId = WebConfig.ServiceDetail;
}
@if (Request["doAction"] == "setting")
{
    <form id="form-modal">
        <div class="modal-body">
            <select name="value" class="form-control">
                <option value="">-- Chọn nhóm menu --</option>
                @foreach (var item in Model.ListItem)
                {
                    <option value="@item.ID" @(item.ID == Model.PageId ? "selected" : "")>@item.Name</option>
                }
            </select>
            <div style="display: none;">
                <input id="ctrId" name="ctrId" value="@Model.CtrId" />
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
        </div>
    </form>
    <script>
        $(function () {
            $("#form-modal").validate({
                rules: {
                    value: { required: true }
                },
                messages: {
                    value: { required: "Trường bắt buộc nhập!" }
                },
                submitHandler: function () {
                    $.post("/Setting/Setting/SaveSetting?ctrId=@Model.CtrId", $("#form-modal").serialize(), function (data) {
                        if (!data.Erros) {
                            window.location.href = window.location.href;
                        }
                    });
                }
            });
        });
    </script>
}
else
{
    <div class="sec-home">
        @Gallery.ModuleSys(Model.CtrUrl, Model.CtrId)
        <div class="sec-service">
            <h2>Dịch vụ SIM</h2>
            <div class="row">
                @foreach (var item in Model.ListItem.Where(c=>c.ParentId != 1))
                {
                    <div class="col-sm-6 col-md-3">
                        <div class="itemService">
                            <div class="img"><span></span></div>

                            <div class="detail">
                                <h3><a href="@item.Slug" title="">@item.Name</a></h3>

                                <div class="text-html">
                                    <p>@item.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>   
}