@using FDI.CORE
@model FDI.Simple.ModelDNSupplierItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <colgroup>
                    <col class="colgroup check" />
                    <col class="colgroup indentity" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col class="colgroup action-4" />
                </colgroup>
                <thead>
                <tr>
                    <th class="act_roles">
                        <input value="" type="checkbox"/>
                    </th>
                    <th class="text-center"><a href="#Field=ID">ID</a></th>
                    <th class="text-center">Tên NCC</th>
                    <th class="text-center"><a href="#Field=Name">Số điện thoại</a></th>
                    <th class="text-center">ĐH NCC (A)</th>
                    <th class="text-center">Trả (B)</th>
                    <th class="text-center">Nhận (C)</th>
                    <th class="text-center">Còn lại (D = B - (A + C))</th>
                    <th class="text-center">Thao tác</th>
                </tr>
                </thead>

                @foreach (var item in Model.ListItem)
                {
                    <tr title="@item.Name">
                        <td class="act_roles">
                            <input type="checkbox" value="@item.ID" class="check">
                        </td>
                        <td class="text-center">@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.Mobile</td>
                        <td>@item.TotalPriceOrder.Money()</td>
                        <td>@item.TotalRecive.Money()</td>
                        <td>@((item.TotalRewar*(-1)).Money())</td>
                        <td>@((item.TotalDebt - item.TotalPriceOrder).Money())</td>
                        <td class="text-right">
                            @Grid.ActionView(item.ID, item.Name)
                        </td>
                    </tr>
                }                
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>