@using FDI.Utils
@model FDI.Simple.ModelShopProductDetailItem
@{
    var pageId = WebConfig.ProductDetail;
    var date = DateTime.Now.TotalSeconds() - DateTime.Now.AddDays(-30).TotalSeconds();
}
<section class="feature-product section-padding">
    @Gallery.ModuleSys(Model.CtrUrl, Model.CtrId)
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- section title start -->
                <div class="section-title text-center">
                    <h2 class="title">Featured products</h2>
                    <p class="sub-title">Add featured products to weekly lineup</p>
                </div>
                <!-- section title start -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-carousel-4_2 slick-row-10 slick-arrow-style">
                    @foreach (var item in Model.ListItem)
                    {
                        <div class="product-item">
                            <figure class="product-thumb">
                                <a href="/@(item.NameAscii)-p@(pageId)c@(item.ID)">
                                    <img class="pri-img" src="@(Utility._dimg)@(item.UrlPicture.UploadPicture())" alt="@item.Name" />
                                    

                                    <img class="sec-img" src="@(Utility._dimg)@(item.UrlPicture.UploadPicture())" alt="@item.Name" />
                                </a>
                                <div class="product-badge">
                                    @if ((DateTime.Now.TotalSeconds() - item.DateCreate) < date)
                                    {
                                        <div class="product-label new">
                                            <span>new</span>
                                        </div>
                                    }
                                    @if (item.Sale > 0)
                                    {
                                        <div class="product-label discount">
                                            <span>@item.Sale%</span>
                                        </div>
                                    }

                                </div>
                                <div class="button-group">
                                    <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="pe-7s-like"></i></a>
                                    <a href="compare.html" data-toggle="tooltip" data-placement="left" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                    <a href="#" data-toggle="modal" data-target="#quick_view"><span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="pe-7s-search"></i></span></a>
                                </div>
                                <div class="cart-hover">
                                    <button class="btn btn-cart" data-id="@item.ID">Thêm vào giỏ hàng</button>
                                    <input type="hidden" class="ShopId-@(item.ID)" value="@item.ListProductItem.Select(c=>c.ID).FirstOrDefault()"/>
                                    @*<input type="hidden" class="colorId-@(item.ID)" value="@item.ListColorProductItem.Select(c=>c.ID).FirstOrDefault()"/>*@
                                    <input type="hidden" class="sizeId-@(item.ID)" value="@item.ListSizeProductItem.Select(c=>c.ID).FirstOrDefault()"/>
                                </div>
                            </figure>
                            <div class="product-caption text-center">
                                @*<ul class="color-categories">
                                    @foreach (var color in item.ListProductItem)
                                    {
                                        <li>
                                            <a style="background-color: @(color.ColorCode)" href="javascript:void(0)" title="@(color.ColorCode)"></a>
                                        </li>
                                    }

                                </ul>*@
                                @*<ul class="color-categories">
                                    @foreach (var items in item.ListColorProductItem)
                                    {
                                        <li>
                                            <a style="background-color: @(items.Value)" href="javascript:void(0)" title="@items.Name"></a>
                                        </li>
                                    }
                                </ul>*@
                                <h6 class="product-name">
                                    <a href="/@(item.NameAscii)-p@(pageId)c@(item.ID)">@item.Name</a>
                                </h6>
                                <div class="price-box">
                                    <span class="price-regular">@item.ListProductItem.Select(c => c.PriceNew).FirstOrDefault().Money()</span>
                                    @if (item.Sale > 0 && item.ListProductItem.Select(c => c.PriceNew).FirstOrDefault() < item.ListProductItem.Select(c => c.PriceOld).FirstOrDefault())
                                    {
                                        <span class="price-old"><del>@item.ListProductItem.Select(c => c.PriceOld).FirstOrDefault().Money()</del></span>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
