@using FDI.CORE
@model FDI.Simple.TMUtilitiesItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div class="modal-body">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-picture-o"></i>Thông tin về tiện ích
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <td style="width: 15%">
                            <label>Tên tiện ích</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="width: 15%">
                            <label>Mô tả</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Description)
                        </td>
                    </tr>
                    
                     <tr>
                        <td style="width: 15%">
                            <label>Thứ tự hiện thị</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Sort)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Ngày tạo</label>
                        </td>
                        <td>
                            @Model.CreateDate.DecimalToString("dd/MM/yyyy HH:ss:mm")
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <label>Người tạo</label>
                        </td>
                        <td>
                            @Model.UserCreate
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <label>Ngày cập nhật</label>
                        </td>
                        <td>
                            @Model.DateUpdated.DecimalToString("dd/MM/yyyy HH:ss:mm")
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <label>Người cập nhật</label>
                        </td>
                        <td>
                            @Model.UserUpdate
                        </td>
                    </tr>
                 
                    <tr>
                        <td>
                            <label>Hiện thị</label>
                        </td>
                        <td>
                            @Grid.DisplayShow(Model.Name, Model.IsShow)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
</div>


