@using FDI.CORE
@model FDI.Simple.ModelCustomerReviewItem

@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <colgroup>
                    <col class="colgroup check" />
                    <col class="colgroup indentity" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col class="colgroup action-3" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" type="checkbox" class="checkAll" />
                        </th>
                        <th class="text-center"><a href="#Field=ID">ID</a></th>
                        <th class="text-center"><a href="#Field=UserName">Khách hàng</a></th>
                        <th class="text-center"><a href="#Field=CardSerial">Điện thoại</a></th>
                        <th><a href="#Field=Email">Email</a></th>
                        <th><a href="#Field=Email">Địa chỉ</a></th>
                        <th><a href="#Field=Email">NV phục vụ</a></th>
                        <th class="text-center"><a href="#Field=CreatedOnUtc">Ngày tạo</a></th>
                        <th><a href="#Field=Email">Mức độ</a></th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        foreach (var item in Model.ListItems)
                        {
                        <tr title="@item.Name">
                            <td class="act_roles">
                                <input type="checkbox" value="@item.ID" class="check">
                            </td>
                            <td class="text-center">@item.ID</td>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.Email</td>
                            <td>@item.Address</td>
                            <td>@item.Username</td>
                            <td>@item.DateCreate.DecimalToString("dd/MM/yyyy")</td>
                            @if (item.PointID > 3)
                            {
                               <td style="color: green">@item.PointName</td> 
                            }
                            @if (item.PointID < 3)
                            {
                                <td style="color: red">@item.PointName</td> 
                            }
                            @if (item.PointID ==3)
                            {
                                <td style="color: yellow">@item.PointName</td> 
                            }
                            
                            <td class="text-right">
                                @Grid.ActionView(item.ID, item.Name)
                                @Grid.ActionDelete(item.ID, item.Name)
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>
