@model FDI.Simple.ModelAlbumItem
@{
    ViewBag.Title = "Chọn video";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        SelectContainer = "#@Model.Container";
        textContainer = "#Text_@Model.Container";
        hiddenContainer = "#Value_@Model.Container";
        selectMutil = @Model.SelectMutil.ToString().ToLower();

       @* urlFormVideo = '@Url.Action("AjaxFormVideo", "GalleryVideo")';
        urlFormVideoUpdate = '@Url.Action("AjaxFormVideoUpdate", "GalleryVideo")';
        urlFormVideoSubmit = '@Url.Action("AjaxFormVideoSubmit", "GalleryVideo")';*@
        urlListVideo = '@Url.Action("ListItems", "GalleryVideoSelect")?Container=@Model.Container&ValuesSelected=@Model.ValuesSelected';

        $("#btnAddVideo").click(function () {
            var categoryID = $("#TreeVideoSelect .select").attr('id');
            if (categoryID == '' || categoryID == null)
                categoryID = 0;
            urlLoadingForm = '#'+urlFormVideo + "?do=Add&CategoryID=" + categoryID ;
            $("#dialog-form-3").dialog(
				{
				    title: "Thêm mới Video",
				    width: formWidth,
				    height: formHeight
				}
			).load(encodeURI(urlLoadingForm)).dialog("open");
            return false;
        });

        $("#TreeVideoSelect").treeview({
            collapsed: false,
            animated: "medium",
            control: "#TreeVideoSelectcontrol",
            persist: "location"
        });

        $("#TreeVideoSelect a").click(function () {
            $("#TreeVideoSelect .select").removeClass("select");
            $(this).parent().parent().removeClass("unselect").addClass("select");
        });
        
        initAjaxLoad(urlListVideo, "#VideoGriditems");

        $("#VideoGridSearch").submit(function () {
            var fromSearch = $("#VideoGridSearch");
            window.location.href = '#' + getValueGalaryFormMutilSelect(fromSearch);
            return false;
        });
        window.location.href = '#CategoryID=0&Page=1&temp=' + Math.floor(Math.random() * 11);
    });
    
    function AddVideo(controls) {
        var row = $(controls).parent().parent();
        var htmlValue = '<table class="gridView" cellspacing="1">';
        //htmlValue += $(textContainer + " table").html();
        htmlValue += "<tr class='" + $(row).attr("class") + "' id='" + $(row).attr("id") + "'>" + $(row).html() + "</tr>";
        htmlValue += "</table>";
        $(textContainer).html(htmlValue).find(".delete").remove();
        getValueVideo('@Model.Container');
        $(row).remove();
        return false;
    }
</script>
<fieldset class="forms">
    <div class="headear">
        <div class="searchbox">
            <form id="VideoGridSearch">
                <fieldset class="bulk-actions">
                    <input style="width: 120px;" type="text" name="Keyword" id="Keyword" value="Từ khóa tìm kiếm" onfocus="if(this.value=='Từ khóa tìm kiếm') this.value='';" onblur="if(this.value=='') this.value='Từ khóa tìm kiếm';" />
                    <select style="width: 125px;" name="SearchIn" id="SearchIn" class="mutil">
                        <option value="Name">Tên video</option>
                        <option value="Description">Mô tả</option>
                        <option value="Name">Tên album video</option>
                    </select>
                    <select style="width: 200px;" name="CategoryID" id="CategoryID">
                        <option value="0">Chọn Album</option>
                        @foreach (var item in Model.ListItem)
                        { 
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>
                    <button name="submit.Search" class="btn btn-sm btn-primary" type="submit">Tìm kiếm</button>
                </fieldset>
            </form>
        </div>

    </div>
    <form id="VideoSelect">
        <table class="tableforms" cellspacing="1" width="100%">
            <tr>
                <td style="width: 230px; background: #fff; border: 1px solid #ccc;">
                    <div id="TreeVideoSelectcontrol" class="treeTool">
                        <a title="Đóng tất cả các nhánh" href="#" class="collapse">Đóng tất cả</a>
                        <a title="Mở tất cả các nhánh" href="#" class="expand">Mở tất cả</a>
                    </div>
                    <ul id="TreeVideoSelect" class="filetree gridView" style="border: 0px;">
                        @Html.Raw(Model.PageHtml)
                    </ul>
                </td>
                <td style="padding: 5px; width: 1px;"></td>
                <td style="background: #F4F5FF; border: 1px solid #ccc;">
                    <b>Chọn Video</b>
                    <div id="VideoGriditems" class="img-container-s">
                    </div>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
