@model FDI.Simple.ModelCustomerReviewsItem

@{
    ViewBag.Title = "ListItems";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <colgroup>
                    <col class="colgroup check" />                  
                    <col />
                    <col />    
                    <col /> 
                    <col class="colgroup action" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" type="checkbox" class="checkAll" />
                        </th>                        
                        <th>Họ tên</th>
                        <th>Nội dung</th>
                        <th class="text-center">Hiển thị</th>                       
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                @foreach (var item in Model.ListItems)
                {
                    <tr title="@item.Name">
                        <td class="act_roles">
                            <input type="checkbox" value="@item.ID" class="check">
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Note</td>                        
                        <td class="text-center">
                            @Grid.ActionShow(item.ID, item.Name, item.IsShow)
                        </td>
                        <td class="text-right">
                            @Grid.ActionEdit(item.ID, item.Name)                            
                            @Grid.ActionDelete(item.ID, item.Name)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>
