@model FDI.Simple.ModelAspnetRolesItem

<form id="RoleForm">
    <input type="hidden" name="do" id="do" value="@ViewBag.Action" />
    <input type="hidden" name="ItemID" id="ItemID" value="@(Model != null?Model.Roles.RoleId:new Guid())" />
    <input type="hidden" name="moduleid" id="moduleid" value="" />
    @* <input type="hidden" name="CountList" id="CountList" value="@ViewBag.listmodule.Count"/>*@
    <div class="grid-container" id="gridItems">
        @if (Model != null)
        {
            <table class="gridView" cellspacing="1">
                <tr>
                    <th>Tên Module</th>
                    @foreach (var item1 in Model.ListActiveRoleItem)
                    {
                        <th>@item1.NameActive</th>
                    }

                    <th class="act_delete"></th>
                    @* <th class="act_show"></th>*@
                    <th class="act_edit"></th>
                </tr>

                @{
                    var i = 0;
                    foreach (var item2 in Model.Roles.Modules)
                    {
                        <tr id="line-@item2.ID">
                            <td>@item2.NameModule</td>


                            @foreach (var item in Model.Roles.Role_ModuleActive.Where(m => m.ModuleId == item2.ID))
                            {
                                var firstOrDefault = Model.Roles.ActiveRoles.FirstOrDefault(n => n.Id == item.ActiveRoleId);
                                if (firstOrDefault != null)
                                {
                                    <td><input type="checkbox" name="@item.ID" id="@firstOrDefault.NameActive" value="@item.ActiveRoleId" @((item.Active == true) ? " checked" : string.Empty) /></td>
                                }
                                else
                                {
                                    <td><input type="checkbox" name="@item.ID" id="Active" value="@item.ActiveRoleId" @((item.Active == true) ? " checked" : string.Empty) DISABLED /></td>
                                }

                            }

                            <td>
                                <a href='javascript:editRole(@item2.ID);' title="Lưu Module @item2.NameModule">
                                    <img src="/Content/Admin/images/gridview/point-icon.png" border="0" />
                                </a>
                            </td>
                            <td>
                                <a href='javascript:deleteRole(@item2.ID);' title="Xóa Module: @item2.NameModule">
                                    <img src="/Content/Admin/images/gridview/delete.gif" border="0" />
                                </a>
                            </td>
                        </tr>
                        i++;
                    }
                }

            </table>
                    }
        <button id="btnEditAll" name="btnEditAll" type="submit" class="btn btn-sm btn-primary" style="margin:20px 0px 0 0px">Lưu</button>
        <button id="close" type="button" class="btn btn-sm btn-primary" style="margin-top:20px">Đóng lại</button>
    </div>
</form>

<style>
    .ui-dialog-buttonset {
        display: none;
    }
</style>

<script type="text/javascript">

    $('#btnEditAll').click(function () {
        $("#moduleid").val(0);
        var link = '/Admin/UserAdministration/EditRoleAction';
        //alert(nameViewId + "-" + nameAddId + " " + nameEditId + "-" + nameDeleteId + " " + nameShowId + "-" + nameHideId + " " + nameOrderId + "-" + nameActiveId + " " + namePublicId + "-" + nameCompleteId + " " + moduleid);
        $.post(link, $("#RoleForm").serialize(),
            function (data) {
                if (data.Erros)
                    createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                else {
                    $("#dialog-form").modal('hide'); //Đóng form thêm mới - sửa
                    createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                }
            });
        return false;
    });
    function editRole(ItemId) {
        $("#moduleid").val(ItemId);
        var link = '/Admin/UserAdministration/EditRoleAction';
        $.post(link, $("#RoleForm").serialize(), function (data) {
            createMessage("Thông báo", data.Message);
        });

        return false;
    }
    function deleteRole(ItemId) {
        $("#moduleid").val(ItemId);

        var link = '/Admin/UserAdministration/DeleteRoleAction';

        $.post(link,
             $("#RoleForm").serialize()
        , function (data) {
            createMessage("Thông báo", data.Message);
            var s = "#line-" + ItemId + "";
            $(s).remove();
        });
        return false;
    }

</script>
