@using FDI.CORE
@model FDI.Simple.ModelStorageFreightWarehouseItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" type="checkbox" class="checkAll" />
                        </th>
                        <th class="text-center"><a href="#Field=ID">ID</a></th>
                        <th class="text-center"><a href="#Field=Code">Mã phiếu</a></th>
                        <th class="text-center"><a href="#Field=UsernameCreate">Người tạo</a></th>
                        <th class="text-center"><a href="#Field=DateCreated">Ngày tạo</a></th>
                        <th class="text-center"><a href="#Field=DateImport">Ngày nhập</a></th>
                        <th><a href="#Field=Note">Ghi chú</a></th>
                        <th class="text-right"><a href="#Field=TotalPrice">Tổng tiền</a></th>
                        <th class="text-right"><a href="#Field=Payment">Thanh toán</a></th>
                        <th class="text-center">Trạng thái</th>
                        <td class="text-center">Người duyệt</td>
                        <td class="text-center">Ngày duyệt</td>
                        <td class="text-center">Phê duyệt</td>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListItems)
                    {
                        <tr data-id="@item.ID" title="@item.Code">
                            <td class="act_roles">
                                <input type="checkbox" value="@item.ID" class="check">
                            </td>
                            <td class="text-center">@item.ID</td>
                            <td class="text-center">@Grid.DisplayShowStrike(item.Code, item.IsDelete == false)</td>
                            <td class="text-center">@(item.UsernameCreate)</td>
                            <td class="text-center">@item.DateCreated.DecimalToString("dd/MM/yyyy")</td>
                            <td class="text-center">@item.DateImport.DecimalToString("dd/MM/yyyy")</td>
                            <td>@item.Note</td>
                            <td class="text-right">@item.TotalPrice.Money()</td>
                            <td class="text-right">@item.Payment.Money()</td>
                            <td class="text-center">
                                @if (item.Status == (int)StatusWarehouse.Pending)
                                {
                                    <label class="label label-default">Đang chờ duyệt</label>
                                }
                                 @if (item.Status == (int)StatusWarehouse.Waitting)
                                {
                                    <label class="label label-success">Đã duyệt</label>
                                }
                                @if (item.Status == (int)StatusWarehouse.Complete)
                                {
                                    <label class="label label-success">Đã chuyển hàng</label>
                                }
                                @if (item.Status == (int)StatusWarehouse.Imported)
                                {
                                    <label class="label label-success">Đã nhận hàng</label>
                                }
                            </td>
                            <td class="text-center">@(item.UsernameActive)</td>
                            <td class="text-center">@(item.DateActive.DecimalToString("dd/MM/yyyy"))</td>
                            <td>
                                @if (!item.IsActive.HasValue || item.IsActive == false)
                                {
                                <a href="#@item.ID" class="btn btn-sm btn-default" data-event="active" title="@item.Code"><i class="fa fa-check-square-o"></i></a>                                    
                                }
                            </td>
                            <td class="text-right">
                                @Grid.ActionView(item.ID, item.Code)
                                @Grid.ActionDelete(item.ID, item.Code)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>
