@model FDI.Simple.DNUserItem
@if (Model != null)
{
    <li class="dropdown dropdown-user">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img src="@Model.Url" class="logo-agency"/>
            <span class="username username-hide-on-mobile" id="AgencyName">@Model.AgencyName</span>
            <i class="fa fa-angle-left"></i>
        </a>
    </li>
    <input type="hidden" id="useridonline" value="@Model.UserId"/>
    <input type="hidden" id="agencyiduser" value="@Model.AgencyID"/>
    <input type="hidden" id="codelogin" value="@ViewBag.codelogin"/>
    <li class="dropdown dropdown-user">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img alt="" class="img-circle" src="/Content/Admin/images/avatar3_small.jpg" />
            <span class="username username-hide-on-mobile">@Model.UserName</span>
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-default">
            <li>
                <a href="#"><i class="fa fa-user"></i>Thông tin tài khoản</a>
            </li>
            <li>
                <a class="username" onclick="FdiOpenDialog('#dialog-form','/Account/ChangePassword', 'Đổi mật khẩu');"><i class="fa fa-lock"></i>Đổi mật khẩu</a>
            </li>
            <li>
                <a href="/Account/LogOff"><i class="fa fa-sign-out"></i>Thoát</a>
            </li>
        </ul>
    </li>
}