@model FDI.Simple.ModelProductSerialItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div id="mygird">
    <div class="box-control">
        <div class="scrollable box-control-content">
            <table class="gridView table table-striped table-bordered table-hover table-orimid" role="grid">
                <colgroup>
                    <col class="colgroup check"/>
                    <col class="colgroup indentity"/>
                    <col/>
                    <col />
                    <col class="colgroup action" />
                </colgroup>
                <thead>
                <tr>
                    <th class="act_roles">
                        <input value="" type="checkbox" class="checkAll" />
                    </th>
                    <th><a href="#Field=ID">ID</a></th>
                    <th><a href="#Field=Serial">Serial</a></th>
                    <th><a href="#Field=ProductName">ProductName</a></th>
                    <th class="text-center">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.ListItems)
                {
                    <tr data-id="@item.ID" title="@item.Serial">
                        <td class="act_roles">
                            <input type="checkbox" value="@item.ID" class="check">
                        </td>
                        <td>@item.ID</td>
                        <td>@item.Serial</td>
                        <td>@item.ProductName</td>
                        <td class="text-right">
                            @Grid.ActionEdit(item.ID, item.Serial)
                            @Grid.ActionDelete(item.ID, item.Serial)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-control">
        @if (Model.PageHtml != null)
        {
            @Html.Raw(Model.PageHtml)
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>
