@model FDI.Base.Shop_Brand
@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<div class="modal-body">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-database"></i>Thông tin thương hiệu
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <td style="width: 150px;"><label>Tên thương hiệu</label></td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td><label>Địa chỉ liên kết</label></td>
                        <td>@Model.Link</td>
                    </tr>
                    <tr>
                        <td><label>Mô tả</label></td>
                        <td>@Html.Raw(Model.Description)</td>
                    </tr>

                    <tr>
                        <td><label>Sắp xếp</label></td>
                        <td>@Model.Sort</td>
                    </tr>
                    <tr>
                        <td><label>Hiển thị</label></td>
                        <td>@Grid.DisplayShow(Model.Name, Model.IsShow)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
</div>	
