@model FDI.Simple.ModelLinkWebsiteItem

@{
    ViewBag.Title = "ListCity";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<section id="mygird" class="vbox">
    <section class="scrollable wrapper w-f">
        <section class="panel panel-default">
            <table class="gridView" cellspacing="1">
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" type="checkbox" />
                        </th>
                        <th><a href="#Field=ID">ID<span /></a></th>
                        <th><a href="#Field=Name">Tên website<span /></a></th>
                        <th><a href="#Field=Show">Hiển thị<span /></a></th>
                        <th></th>
                        <th colspan="2" style="width: 12%;">Thao tác</th>
                    </tr>
                </thead>

                @foreach (var item in Model.ListItem)
                {
                    <tr title="@item.Name">
                        <td class="act_roles">
                            <input type="checkbox" value="@item.ID" class="check">
                        </td>
                        <td>
                            @item.ID
                        </td>
                        <td>
                            @Grid.DisplayShowStrike(item.Name, item.IsShow.HasValue && item.IsShow.Value)
                        </td>
                        <td>
                            @Grid.ActionShow(item.ID, item.Name, item.IsShow)
                        </td>

                        <td></td>
                        <td class="btn-group">
                            @Grid.ActionEdit(item.ID, item.Name)
                            @Grid.ActionDelete(item.ID, item.Name)
                        </td>
                    </tr>
                }

            </table>
        </section>
    </section>
    <footer class="footer bg-white b-t portlet">
        <div class="row m-t-xs">
            @Html.Raw(Model.PageHtml)
        </div>
    </footer>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>
