@model IEnumerable<FDI.Simple.ModuleItem>
@{
    ViewBag.Title = "Sắp xếp Module";
    Layout = "~/Views/Shared/_Ajax.cshtml";
    var Index = 0;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#ModuleForm").validate({

            submitHandler: function () { //onSubmit
                getValueOrder('ModuleForm', 'OrderValues');
                $.post(urlPostAction, $("#ModuleForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").modal('hide'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.Id + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });

    });
</script>
<form id="ModuleForm">

    <div class="modal-body">
        <input type="hidden" id="do" name="do" value="Order" />
        <input type="hidden" id="OrderValues" name="OrderValues" />
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-newspaper-o"></i>Thông tin về menu
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <table border="0" cellpadding="0" cellspacing="1" class="gridView table table-bordered table-striped">
                            <thead>
                                <tr>
                                <th>Tiêu đề</th>
                                <th>Xắp xếp</th>
                            </tr>
                            </thead>
                            <tbody>
                                 @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.NameModule</td>
                                    <td class="text-center">
                                        <select name="ViewOrder@(Index)" id="@item.ID" onchange="Reorder(this, @Index, @Model.Count())">
                                            @for (var number = 1; number < Model.Count() + 1; number++)
                                            { 
                                                <option value="@number"@((number == Index + 1) ? " selected" : string.Empty)>@number</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                            Index++;
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-success">Cập nhật</button>
        <button type="reset" name="reset" class="btn btn-sm btn-primary">Nhập lại</button>
        <button id="close" type="button" data-dismiss="modal" class="btn btn-sm btn-default">Đóng</button>
    </div>
</form>
