@model FDI.Base.DN_Module
@{
    ViewBag.Title = ViewBag.ActionText + " Module";
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        callSelect2("#GroupID", "100%");
        $("#ModuleForm").validate({
            rules: {
                NameModule:
                {
                    required: true,
                    minlength: 3,
                    maxlength: 255
                },
                Content:
                {
                    minlength: 3,
                    maxlength: 500
                },
                Link:
                {
                    required: true,
                    minlength: 3,
                    maxlength: 255
                },
            },

            submitHandler: function () { //onSubmit
                $.post(urlPostAction, $("#ModuleForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").modal('hide'); //Đóng form thêm mới - sửa
                        var linkFW = '#Page=' + getParameters("Page", 1) + '&RowPerPage=' + getParameters("RowPerPage", 10);
                        createCloseMessage("Thông báo", data.Message, linkFW + '&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + '');
                    }
                });
                return false;
            }
        });
    });
</script>

<form id="ModuleForm" class="form-horizontal">
    <div class="modal-body">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action" />
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID" />
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-newspaper-o"></i>Thông tin về menu
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Tên module</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="..." name="NameModule" id="NameModule" value="@Model.NameModule" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Link chuyên mục</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="..." name="Link" id="Link" value="@Model.Link" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">ClassCss</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="..." name="ClassCss" id="ClassCss" value="@Model.ClassCss" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Thứ tự</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="..." name="Ord" id="Ord" value="@Model.Ord" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Chuyên mục cha</label>
                            <div class="col-lg-10">
                                <select name="ParentID" id="ParentID" class="form-control">
                                    @foreach (var item in ViewBag.PrarentID)
                                    {
                                        <option value="@item.ID" @((item.ID ==  Model.ParentID) ? " selected" : string.Empty) > @item.NameModule</option>
                                    }
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Thuộc nhóm KD</label>
                            <div class="col-lg-10">
                                <select name="GroupID" id="GroupID" class="select2" multiple>
                                    @foreach (var item in ViewBag.Group)
                                    {
                                        <option value="@item.ID" @((Model.ST_Group.Any(m=>m.ID == item.ID)) ? " selected" : string.Empty)>@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Mô tả</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="..." name="Content" id="Content" value="@Model.Content" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <label>
                                    @Html.CheckBox("IsAll") Sử dụng ngay
                                </label>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <label>
                                    @Html.CheckBox("IsShow") Hiện thị
                                </label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-success">Cập nhật</button>
        <button type="reset" name="reset" class="btn btn-sm btn-primary">Nhập lại</button>
        <button id="close" type="button" data-dismiss="modal" class="btn btn-sm btn-default">Đóng</button>
    </div>
</form>

