@using FDI.CORE
@using FDI.CORE
@model FDI.Simple.EditScheduleItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div class="modal-body">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gear"></i>Thông tin về đổi ca
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <label>Lý do đổi ca</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Tên nhân viên</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UserName)
                        </td>
                    </tr>
                  
                    <tr>
                        <td>
                            <label>Đổi ca</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ScheduleName)
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <label>Nhân viên</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UserNameChange)
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <label>Ngày đổi</label>
                        </td>
                        <td>
                            @Model.Date.DecimalToDate().AddYears(-1).ToString("dd/MM/yyyy")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
</div>



